.order-list{margin:28px}
.order-list .order-one{margin-top:28px;background:#fff;border-radius:12px;padding:36px 36px 30px}
.order-list .goods-name{float:right;padding-top:60px;width:360px;text-align:left}
.order-list .goods-image{display:block;margin-bottom:20px;width:240px;height:160px}
.order-list .order-detail-btn{float:right;color:#3B8BE8}
.order-list .order-stat{color:#fca135}
.order-empty{position:absolute;top:0;left:0;width:100%;height:100%;background:#fff url(empty.png) no-repeat center}