.product-buy{margin:0;padding:0;}
.product-buy .head-pic{background:url(img-top-bg@2x.png) no-repeat;background-size:100% 100%;width:100%;height:100px;margin-bottom:10px}
.product-buy .fixed-text{ height: 30px; line-height: 30px; color: #959595; padding-left: 15px; font-size:13px;}
.product-buy .title{font-size:16px;color:#4f4f4f;padding:15px}
.product-buy .data-mod{display:flex;padding:0 15px;font-size:13px;margin-bottom:10px;}
.product-buy .time-limit{flex:2.2;}
.product-buy .time-year{flex:1;}
.product-buy .data-mod .word1{background:-webkit-linear-gradient(left,#FF8E61,#FF5532);background:linear-gradient(to right,#FF8E61,#FF5532);color:#fff;padding:3px 5px;opacity:0.8}
.product-buy .data-mod .word2{border:1px solid #FF5532;padding:2px;color:#FF5532}
.product-buy .product-item{background-color:#fff;height:50px;line-height:50px;padding:0 15px;color:#4f4f4f}
.product-buy .product-item label{font-size:15px;color:#4f4f4f;padding-right:15px}
.product-buy .product-item .buy-money{border:none;font-size:14px;color:#4f4f4f;width:70%;}
.product-buy .product-item .un-li-qua{font-size:14px;color:#959595;}
.product-buy .product-item .li-qua{display:none;font-size:14px;color:#4f4f4f;}
.product-buy .product-item .li-num{font-size:14px;color:#fca032;}
.product-buy .product-item .icon-more:before{float:right;background-position:-255px -69px;width:16px;height:20px;margin:15px 0}
.product-buy .bor-bot{border-bottom:1px solid #e4e4e4}
.product-buy .product-buy-hint{padding:15px;font-size:12px;line-height:20px}
.product-buy .product-buy-hint span{color:#FF5532}
.product-buy .agr{padding:15px;font-size:13px;color:#4f4f4f;line-height:24px}
.product-buy .agr span{color:#3b8be8}
.product-buy .agr i,
.product-buy .agr .no-agr{display:inline-block;width:13px;height:13px;margin:0 5px -1px 0}
.product-buy .agr i{background:url(btn-select@2x.png) no-repeat;background-size:13px;}
.product-buy .agr .no-agr{background:url(btn-not-select@2x.png) no-repeat;background-size:13px;}
.product-buy .invest-btn{background-color:#FF5532}
.product-buy .to-buy-btn{z-index:10;position:fixed;left:0;bottom:0;width:100%;height:50px;line-height:50px;background-color:#ff6046;text-align:center;font-size:16px;color:#fff}

.product-buy .account-layer{display:none;position:fixed;z-index:10;left:0;top:0;bottom:50px;width:100%;background-color:rgba(0,0,0,0.5)}
.product-buy .account-stock{position:absolute;bottom:0;width:100%;background-color:#fff;
    -webkit-transition:all 0.5s ease-in;
    transition:all 0.5s ease-in;
    -webkit-transform:translate3d(0,200px,0);
    transform:translate3d(0,200px,0);
}
.product-buy .account-stock-show{
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
}

.product-buy .account-stock .account-box{height:50px;line-height:50px;padding:0 15px;border-top:1px solid #eee;}
.product-buy .account-hint{text-align:center;padding:15px 0;}
.product-buy .account-box .acc-type{}
.product-buy .account-box .acc-num{float:right;text-align:right}
.product-buy .acc-icon:before,
.product-buy .checked:before{content:'';display:inline-block;width:18px;height:18px;margin:0 5px -3px 0}
.product-buy .acc-icon:before{background:url(btn-not-select-circle@2x.png) no-repeat;background-size:100%;}
.product-buy .checked:before{background:url(btn-select-circle@2x.png) no-repeat;background-size:100%;}

/*.product-buy .account-stock .account-lime{height:45px;line-height:45px;padding:0 15px;border-bottom:1px solid #eee;font-size:15px;color:#333;}*/
/*.product-buy .account-stock .txt-right{float:right;color:#ff6046;}*/
/*.product-buy .account-stock .icons{background:url(btn-select-circle@2x.png) no-repeat;width:18px;height:18px;}*/
/*.product-buy .account-stock .checked:before{background-position:-190px -110px}*/

/*@media screen and (min-width:320px){*/
/*}*/
/*@media screen and (min-width:360px){*/
/*}*/
/*@media screen and (min-width:375px){*/
/*}*/
/*@media screen and (min-width:414px){*/
/*}*/

/*.confirm-buy{padding-bottom:0}*/
/*.confirm-buy .pd-info{height:100px;padding:19px 17px;background:#fff;vertical-align: super}*/
/*.confirm-buy .pd-name{font-size:15px;margin-bottom:11px}*/
/*.confirm-buy .pd-rate{font-size:44px;color:#ed3b29}*/
/*.confirm-buy .pd-rate-t{font-size:24px}*/
/*.confirm-buy .pd-date{float:right;margin:19px 15px 0 0;font-size:15px;line-height:25px;padding-left:10px;border-left:1px solid #eee}*/
/*.confirm-buy .addition-rate{color:#fc1d18;margin-left: -8px}*/
/*.confirm-buy .stock{background:#fff;color:#999;padding-left:17px;height: 30px}*/

/*.confirm-buy .trade-num-tip{position:absolute;margin:-10px 0 0 -250px;min-width:70px;height:20px;line-height:20px;font-size:11px;padding:0 8px;text-align:center;background:#ffe6dc;border:1px solid #ed3b29;color:#ed3b29;border-radius:6px}*/
/*.confirm-buy .form-link{color:#5596ce}*/
/*.confirm-buy .icon-safe{position:absolute;bottom:50px;left:0;width:100%}*/
/*.confirm-buy .safety-wordHint {position: absolute;bottom: 50px;z-index:-2;left: 50%;*/
    /*transform: translateX(-50%);-webkit-transform:translateX(-50%);width: 100%;}*/
/*.confirm-buy .right{float:right;margin-right:10px;}*/


/*.confirm-buy .trade-num-tip:before{content:'';position:absolute;width:0;height:0;top:18px;left:2px;border:6px solid transparent;border-top:6px solid #ed3b29}*/
/*.confirm-buy .trade-info{padding:0 0 0 16px;background:#fff;margin-top:9px;}*/
/*.confirm-buy .input-text{border:none}*/
/*.confirm-buy .form-label{width:100px}*/
/*.confirm-buy .form-p{font-size:15px;line-height:44px;border-bottom:1px solid #eee;padding: 0}*/
/*.confirm-buy .form-p:last-child{border:none}*/
/*.confirm-buy .trade-p{line-height:21px;font-size:12px}*/
/*.confirm-buy .income{font-size: 12px;color:#444;line-height: 22px;padding:5px 0}*/
/*.confirm-buy .trade-profit .form-label{font-size:13px}*/

/*.confirm-buy .trade-profit{padding:15px 17px}*/
/*.confirm-buy .red-bag-num{margin-left:5px;font-size:11px;color:#ed3b29;border:1px solid #ed3b29;border-radius:3px;padding:1px 3px;vertical-align: 1px}*/
/*.confirm-buy .red-bag-desc{float:right;padding-right:32px;color:#999}*/
/*.confirm-buy .red-bag:after{top:17px}*/

/*.confirm-buy .form-checkbox{position:relative;top:-3px;left:3px;width:2px;height:2px;margin-right:15px;background:none;border:none}*/
/*.confirm-buy .form-checkbox:before{content:'';position:absolute;top:-11px;left:-3px;width:14px;height:14px;border:1px solid #eee;border-radius:3px;background:#fff;vertical-align:-5px}*/
/*.confirm-buy .form-checkbox:checked:before{border-color:#ff6046}*/
/*.confirm-buy .form-checkbox:checked:after{content:'';position:absolute;top:-7px;left:0;width:8px;height:4px;border-bottom:2px solid #ff6046;border-left:2px solid #ff6046;*/
    /*-webkit-transform: rotate(-45deg);transform: rotate(-45deg)}*/

/*.form-p2 .form-label{display: block;width:100%;}*/

/*.form-p2 .right-label{color: #999;text-align: right;padding-right: 10px;box-sizing: border-box;}*/

/*.fixed-bottom{position:fixed;z-index:11;bottom:0;left:0;width:100%}*/
/*.fixed-bottom .btn{border:0;width:100%;height:45px;line-height:45px;background:#ff6046;color:#fff;text-align:center}*/
/*.pt10{padding-top:10px !important;}*/