<div class="top-status-box"></div>
<div class="gift-list">
</div>

<div class='rolebg' style="height:<%=1333*$(window).width()/750%>px">
    <ol>
        <li>活动时间为2017年5月23日—6月23日</li>
        <li>活动期间消耗所选奖品对应的投资值及邀请值，即可获取该奖品</li>
        <li>活动期间每投资1元年化金额增加1个投资值<br/>年化金额计算方式：所投金额X投资产品期限/360（不包括变现、活期及其他活动专享产品）
            <br/>例：A投资20000元180天产品，则其投资年化金额为 20000X180/360=10000元，可获得10000个投资值
        </li>
        <li>活动期间每邀请1个新投资用户增加1个邀请值，新用户需投资90天及以上产品≥1000元（不包括变现、活期及其他活动专享产品）</li>
        <li>部分奖品因为需额外定制，将于活动结束后60日内发放</li>
        <li>本活动奖品不与其他活动同享</li>
        <li>详询客服热线：4000499188</li>
        <li>本活动奖品图片供参考，以实际奖品为准，黄金转运珠饰品将在同等价位系列产品中选择，款式随机发放，包括但不限于图片所示款式。</li>
        <% if($.isIOS()){ %>
        <li>本活动与苹果公司无关</li>
        <% } %>
        <li>本活动最终解释权归揺旺所有</li>
    </ol>
</div>

