.goods-banner{display:block;width:100%;height:220px;margin-bottom:20px}
.goods-detail .to-goods,
.goods-detail .d-info{height:100px;line-height:100px;font-size:30px;border-top:1px solid #ccc;padding:0 30px;background:#fff}
.goods-detail .d-info:first-child{border-top:none}
.goods-detail .d-info .d-t-info{float:right}
.goods-detail .d-info .d-t-coupon{color:#999;padding-right:30px}
.goods-detail .to-goods{margin:20px 0}
.goods-detail .buy-btn{position:fixed;z-index:11;bottom:0;left:0;width:100%;height:100px;line-height:100px;font-size:36px;text-align:center;background:#ff5532;color:#fff}
.goods-detail .agree-box{position:absolute;z-index:9;bottom:130px;left:0;right:0;padding-left:8px}
.goods-detail .agree-box:before{content:'';display:inline-block;margin-right:16px;width:29px;height:29px;background:url(images/btn-select@2x.png) no-repeat;vertical-align:-3px}
.goods-detail .dont-agree:before{background-image:url(images/btn-not-select@2x.png)}
.goods-detail .rule-btn{color:#3B8BE8}


.goods-detail .account-layer{display:none;position:fixed;z-index:10;left:0;top:0;bottom:100px;width:100%;background-color:rgba(0,0,0,0.5)}
.goods-detail .account-stock{position:absolute;bottom:0;width:100%;background-color:#fff;
    -webkit-transition:all 0.5s ease-in;
    transition:all 0.5s ease-in;
    -webkit-transform:translate3d(0,400px,0);
    transform:translate3d(0,400px,0);
}
.goods-detail .account-stock-show{
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
}

.goods-detail .account-stock .account-box{height:100px;line-height:100px;padding:0 30px;border-top:1px solid #eee;}
.goods-detail .account-hint{text-align:center;padding:30px 0;}
.goods-detail .account-box .acc-type{}
.goods-detail .account-box .acc-num{float:right;text-align:right}
.goods-detail .acc-icon:before,
.goods-detail .checked:before{content:'';display:inline-block;width:36px;height:36px;margin:0 10px -6px 0}
.goods-detail .acc-icon:before{background:url(images/btn-not-select-circle@2x.png) no-repeat;background-size:100%;}
.goods-detail .checked:before{background:url(images/btn-select-circle@2x.png) no-repeat;background-size:100%;}
