<div class="top-status-box"></div>
<div class="gift-list"></div>
<div class="home-rule"  style="min-height:<%=1321*$(window).width()/750%>px">
    <div class="my-gift-btn"></div>
    <div class="linetop"  style="height:<%=120*$(window).width()/750%>px"></div>
    <div class="linecenter" ><!-- style=" height:<%=908*$(window).width()/750%>px" -->
       <ol>
        <li>活动时间为2017年3月24日—2017年4月10日</li>
        <li>活动期间消耗所选奖品对应的投资值及邀请值，即可获取该奖品</li>
        <li>活动期间每投资1元年化金额增加1个投资值<br/>年化金额计算方式：所投金额×投资产品期限/360；例：A投资20000元180天产品，则其投资年化金额为 20000×180/360=10000元，可获得10000个投资值
        </li>
        <li>活动期间每邀请1个新投资用户增加1个邀请值，新用户需在活动开始前没有过任何投资记录，且在活动期间投资90天及以上产品≥1000元</li>
        <li>用户及其邀请用户必须投资定期产品（不包括变现产品及新手产品）才有效</li>
        <li>部分奖品因为海外代购产品，将于活动结束后60日内发放</li>
        <li>本活动奖品不与其他活动同享</li>
        <li>详询客服热线：4000499188</li>
        <li>本活动奖品图片供参考，以实际奖品为准</li>
        <li>理财有风险，投资需谨慎</li>
        <% if($.isIOS()){ %>
        <li>本活动与苹果公司无关</li>
        <% } %>
        <li>本活动最终解释权归揺旺所有</li>
    </ol>
</div>
<div class="linebottom" style="height:<%=120*$(window).width()/750%>px"></div>
</div>
<img src="<%= location.origin+'/events/freeGifts/dist/share.jpg' %>"  style="display: none"  >
<canvas class="flower" id="flower"></canvas> 
<img src="<%= location.origin+'/events/freeGifts/dist/f1.png' %>" class="list_flake" style="display: none"  >
<img src="<%= location.origin+'/events/freeGifts/dist/f3.png' %>" class="list_flake" style="display: none" >
<img src="<%= location.origin+'/events/freeGifts/dist/f4.png' %>" class="list_flake" style="display: none" >
<img src="<%= location.origin+'/events/freeGifts/dist/f5.png' %>" class="list_flake" style="display: none" >
<img src="<%= location.origin+'/events/freeGifts/dist/f6.png' %>" class="list_flake" style="display: none" >
<img src="<%= location.origin+'/events/freeGifts/dist/f7.png' %>" class="list_flake" style="display: none" >
<img src="<%= location.origin+'/events/freeGifts/dist/f8.png' %>" class="list_flake" style="display: none" >

