.rule-box{padding:20px 10px 0 3px;color:#7D3145}
.rule-box li{padding-bottom:10px}
.rule-box p{font-size:13px}
.rule-box b{font-weight:bold}
.rule-title{font-size:16px;font-weight:bold;line-height:30px;margin-left:15px}

.table{margin:10px 0;width:98%;background:rgba(255,255,255,0.8);box-shadow: 0 2px 3px #F64976;border-radius: 10px;text-align:center}
.table th,
.table td{height:40px;font-weight:normal;font-size: 12px;color: #7D3145;border:1px solid rgba(246,73,118,0.2);border-width:1px 0 0 1px}
.table th{border-top:none}
.table td{height:30px;line-height:30px;font-size: 13px;color: #AC2649}
.table td:first-child,
.table th:first-child{border-left:none}
.rule-box .color1{color:#F64976}
.rule-box .color2{color:#AC2649;}
