<div class="rule-box">
    <h3 class="rule-title">活动细则</h3>
    <ol class="rule-txt">
        <li>活动时间：2017年2月10日—2017年2月19日。</li>
        <li>活动期间，邀请到好友并投资满额的用户可根据等级获取恋爱基金。
            <table class="table">
                <tr>
                    <th>情侣等级</th>
                    <th>累计投资年化金额<br>（非变现定期产品）</th>
                    <th>恋爱基金/现金奖励<br>（和情侣二人平分）</th>
                </tr>
                <tr>
                    <td>LV1</td>
                    <td>≥10000元</td>
                    <td class="color1">200元</td>
                </tr>
                <tr>
                    <td>LV2</td>
                    <td>≥50000元</td>
                    <td class="color1">1500元</td>
                </tr>
                <tr>
                    <td>LV3</td>
                    <td>≥100000元</td>
                    <td class="color1">4000元</td>
                </tr>
                <tr>
                    <td>LV4</td>
                    <td>≥200000元</td>
                    <td class="color1">10000元</td>
                </tr>
            </table>
        </li>
        <li>用户获取恋爱基金（现金奖励）条件：
            <p><b class="color2">第一步：</b>活动期间，用户通过活动页面邀请好友组队。（好友不限是否已注册摇旺，好友需填写个人手机号接受邀请，一旦接受不可解除）</p>
            <p><b class="color2">第二步：</b>用户需选择且仅能选择其中一个好友成为自己的“情侣”，活动期间可以更换“情侣”。</p>
            <p><b class="color2">第三步：</b>用户累计投资年化金额满足指定金额即可获得相应的恋爱基金（现金奖励），该奖励仅与自己选择的“情侣”平分。（若双方互相选择对方为“情侣”，则二人投资金额可合并计算）</p>
        </li>
        <li>选择情侣后，用户投资定期产品（不包括变现产品及新手产品）才能产生恋爱基金。</li>
        <li>恋爱基金（现金奖励）获取规则：
            <p class="color2">当用户累计投资年化金额10000元时，共获得现金奖励200元；若该用户继续投资年化金额40000元，累计年化金额达到50000元，则再获得现金奖励1300元；以此类推，每对“情侣”最高可获得现金奖励10000元。</p>
        </li>
        <li>活动开始后，如果用户未选择“情侣”即进行投资，该期间的投资所产生的恋爱基金（现金奖励）将与用户选择的第一个“情侣“进行平分；若中途变更“情侣”，后期投资产生的恋爱基金（现金奖励）等级将重新计算，并与新情侣进行平分。</li>
        <li>获得恋爱基金（现金奖励）的用户必须注册并完成绑卡才能取出，如在活动结束后30日内（2017年3月21日前）未完成注册，所获恋爱基金（现金奖励）取消发放。</li>
        <li>获得恋爱基金（现金奖励）的未注册用户，在注册时必须使用受邀请时填写的手机号码，否则无法收到恋爱基金（现金奖励）。</li>
        <li>累计年化投资金额(元)=活动期间用户新增非变现定期投资金额(元)×产品期限(天)/360(天)(若有多笔投资，累计年化投资金额为各笔年化投资金额之和）；</li>
        <li>用户分享“情侣证”到微信，集齐6个“祝福”即可获取300元返现券大礼包一份，分享用户及其情侣都可获得，每人限得一份。
            <table class="table">
                <tr>
                    <th>返现券金额</th>
                    <th>激活门槛</th>
                    <th>适用产品</th>
                </tr>
                <tr>
                    <td>200元</td>
                    <td>20000元</td>
                    <td>360天及以上产品</td>
                </tr>
                <tr>
                    <td>100元</td>
                    <td>20000元</td>
                    <td>180天及以上产品</td>
                </tr>
            </table>
        </li>
        <% if($.isIOS()){ %>
        <li>本活动与苹果公司无关。</li>
        <% } %>
        <li>活动最终解释权归摇旺理财所有。</li>
    </ol>
</div>
