.set-pay-pass{margin:0}
.set-pay-pass .pay-pass-box{height:50px;line-height:50px;padding:0 20px;background-color:#fff;border-bottom:1px solid #eee}
.set-pay-pass .pay-pass-title{font-size:15px;color:#4f4f4f;padding-right:10px}
.set-pay-pass .pay-password{border:none}