.productRecords .prb{border-top:2px solid #f2f2f2;height:150px;display:table;padding:0 34px;width:100%;background:#fff}
.productRecords .prl{vertical-align:middle;display:table-cell}
.productRecords .prl div:nth-child(1){color:#666;font-size:30px;}
.productRecords .prl div:nth-child(2){font-size:30px;color:#999;margin-top:20px}
.productRecords .prr{vertical-align:middle;display:table-cell;color:#666;text-align:right;font-size:32px;}
.productRecords .tip{height: 100px;line-height: 100px;margin-top: 4px;text-align: center;font-size: 32px;color: #999;}
