.withdrawals-results .result-content{width:90%;margin:37px auto;text-align:left;padding-left: 3%; }
.withdrawals-results .result-content .maintitle{font-size:17px;color:#4F4F4F;margin-left: 40px;line-height: 28px;}
.withdrawals-results .result-content .subtitle{font-size:15px;color:#9FA7B4;margin-left: 40px;line-height: 20px}
.withdrawals-results .result-content .thrtitle{font-size:13px;color:#B5B5B5;margin-left: 40px;margin-top:5px;line-height:17px;}
.withdrawals-results .result-content  .top{position: relative;top:0px;background:url(./icon-success.png) top left no-repeat;background-size:24px auto;}
.withdrawals-results .result-content  .center{position: relative;height:95px;width:1px;background:#D8DBDF;margin: 10px;top: -20px;}
.withdrawals-results .result-content  .bottom{position: relative;top: -30px;}
.withdrawals-results .result-content  .bottom:before{content: '';clear: both;width:10px;height:10px;border:1px solid #D8DBDF;border-radius: 50%;display: inherit;position: absolute;top: 8px;left: 5px;}
.withdrawals-results .resultbtn{width:80%;height:45px;line-height:45px;margin:0 auto;text-align:center;font-size:18px;background:#FF5532;color:#ffffff;}
.cfca032{color:#fca032;}