.member-home{margin:0;padding:0;background-color:#fff}

.member-home .slide-type{margin-bottom:5px;padding-top: 20px;}
.member-home .slide-type .member-box{position:relative;line-height:18px;color:#fff}
.member-home .slide-type .general{background:url(images/img-ordinary-card@2x.png) no-repeat;background-size:100%;}
.member-home .slide-type .silver{background:url(images/img-silver-card@2x.png) no-repeat;background-size:100%;}
.member-home .slide-type .gold{background:url(images/img-gold-card@2x.png) no-repeat;background-size:100%;}
.member-home .slide-type .platinum{background:url(images/img-platinum-card@2x.png) no-repeat;background-size:100%;}
.member-home .slide-type .masonry{background:url(images/img-diamond-card@2x.png) no-repeat;background-size:100%;}
.member-home .slide-type .con-word{position:absolute;bottom:25px;}
.member-home .slide-type .current-note{background-color: #FF866D;
    border-radius: 30px;
    position: absolute;
    top: 12%;
    left: 45%;
    padding:1px 5px;}
.member-home .next-level-tip{
    width: 100%;
    position: relative;
    justify-content: center;
    color: #DABE89;
    margin-bottom:25px;

}
.member-home .next-level-zt{
    margin-bottom: 8px;
}
.member-home .next-level-label{
    margin-right:4px;
    background: url("./images/icon-next-label.png") no-repeat no-repeat  0 center;
    background-size: auto 100%;
    padding-left: 20px;
}
.member-home .next-level-tip,.member-home .next-level-tip>div{
    display: flex;
}
.member-home .next-level-tip>div{
    align-items: center;
    /*background-color: rgba(249,241,223,0.6);*/
    padding: 10px;
}
.member-home .next-level-tip>div>div{
    float: left;
}

.member-home .tally-icon{text-align:center;padding-bottom:20px;}
.member-home .tally-icon i{display:inline-block;background:url(images/img-line@2x.png) no-repeat;background-size:100%;width:164px;height:15px;}
.member-home .exclusive-type{display:flex;padding-bottom:25px}
.member-home .exclusive-type .exclusive{flex:1;text-align:center;position:relative}
.member-home .exclusive-type .text{
    font-size:13px;padding-top:10px
}
.member-home .exclusive-type .exclusive.birth.enable .icon{
    background-size:100%;
    background-repeat: no-repeat;
}
.member-home .exclusive-type .exclusive.enable .text{color:#4f4f4f}
.member-home .exclusive-type .exclusive .text{color:#959595}
.member-home .exclusive-type .exclusive span{display:inline-block;width:50px;height:50px;}
.member-home .exclusive-type .exclusive.birth.enable .icon{background:url(images/icon-birthday@2x.png) no-repeat;background-size:100%;}
.member-home .exclusive-type .exclusive.qiandao .icon{background:url(images/icon-qiandao-gray@2x.png) no-repeat;background-size:100%;}
.member-home .exclusive-type .exclusive.huiyuanchanpin .icon{background:url(images/icon-huiyuanchanpin-gray@2x.png) no-repeat;background-size:100%;}
.member-home .exclusive-type .exclusive.huodongtequan .icon{background:url(images/icon-huodongtequan-gray@2x.png) no-repeat;background-size:100%;}
.member-home .exclusive-type .exclusive.xianxiahuodong .icon{background:url(images/icon-xianxiahuodong-gray@2x.png) no-repeat;background-size:100%;}
.member-home .exclusive-type .exclusive.zhuanxiangguwen .icon{background:url(images/icon-zhuanxiangguwen-gray@2x.png) no-repeat;background-size:100%;}
.member-home .exclusive-type .exclusive.wangjiazhekou .icon{background:url(images/icon-wangjiazhekou-gray@2x.png) no-repeat;background-size:100%;}
.member-home .exclusive-type .exclusive.difeibianxian .icon{background:url(images/icon-difeibianxian-gray@2x.png) no-repeat;background-size:100%;}
.member-home .exclusive-type .exclusive.qiandao.enable .icon{background:url(images/icon-qiandao@2x.png) no-repeat;background-size:100%;}
.member-home .exclusive-type .exclusive.huiyuanchanpin.enable .icon{background:url(images/icon-huiyuanchanpin@2x.png) no-repeat;background-size:100%;}
.member-home .exclusive-type .exclusive.huodongtequan.enable .icon{background:url(images/icon-huodongtequan@2x.png) no-repeat;background-size:100%;}
.member-home .exclusive-type .exclusive.xianxiahuodong.enable .icon{background:url(images/icon-xianxiahuodong@2x.png) no-repeat;background-size:100%;}
.member-home .exclusive-type .exclusive.zhuanxiangguwen.enable .icon{background:url(images/icon-zhuanxiangguwen@2x.png) no-repeat;background-size:100%;}
.member-home .exclusive-type .exclusive.wangjiazhekou.enable .icon{background-image:url(images/icon-wangjiazhekou@2x.png)}
.member-home .exclusive-type .exclusive.difeibianxian.enable .icon{background:url(images/icon-difeibianxian@2x.png) no-repeat;background-size:100%;}
.member-home .exclusive-type .confirm-check{position:absolute;top:0;right:15px;background:url(images/icon-red-choose@2x.png) no-repeat;background-size:100%;width:14px;height:14px;}
.member-home .depict-hint{padding:10px 20px;font-size:13px;color:#4f4f4f;line-height:20px;letter-spacing:1px;}
.member-home> p{
    position: relative;
}
.member-home> p .btn{
    left: 0;
    right: 0;
    top:80px;
    position: absolute;
    text-align: center;
    margin-bottom: 20px;
}
.member-home> p .btn span{
    padding: 8px 20px;
    border-radius: 30px;
    border:1px solid #DFC68B ;
    color: #DFC68B;
    display: inline-block;
    letter-spacing: 3px;
}
@media screen and (min-width:320px) {
    .member-home .slide-type .member-box{width:220px;height:140px;font-size:12px}
    .member-home .slide-type .con-word{left:20px}
}
@media screen and (min-width:340px) {
    .member-home .slide-type .member-box{width:234px;height:147px;}
}
@media screen and (min-width:360px) {
    .member-home .slide-type .member-box{width:248px;height:154px;}
    .member-home .slide-type .con-word{left:22px}
}
@media screen and (min-width:375px) {
    .member-home .slide-type .member-box{width:258px;height:159px;font-size:13px}
}
@media screen and (min-width:380px) {
    .member-home .slide-type .member-box{width:262px;height:161px;}
}
@media screen and (min-width:400px) {
    .member-home .slide-type .member-box{width:276px;height:168px;}
}
@media screen and (min-width:414px) {
    .member-home .slide-type .member-box{width:286px;height:173px;}
    .member-home .slide-type .con-word{left:24px}
}
@media screen and (min-width:420px) {
    .member-home .slide-type .member-box{width:290px;height:175px;}
}