<div class="ux-fixed-box">
  <div class="ux-shutdown">&times;</div>
  <div class="ux-fixed-body clearfix">
    <div class="ux-flex fn-left">
      <img class="fn-left" src="<%=$.getStaticOrgin()%>/yaowang/dist/globalImg/down-logo.png" width="40" height="40" alt="摇旺LOGO"/>
      <p class="ux-flex-text">下载摇旺手机客户端<br/>让理财更安全</p>
    </div>
    <div class="ux-flex fn-right">
      <img src="<%=$.getStaticOrgin()%>/yaowang/dist/globalImg/download.png" class="btn-download" height="40" alt="下载"/>
    </div>
  </div>
</div>