.detail-newhand{background-color: #7852FA;position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.bg_newhand{height: 25rem;background:#7852FA url(./bg_newhand.png) 0 0 no-repeat;background-size: 16rem 25.685rem;}
.btn-div{background-color: #7852FA; margin-top:-1.567rem;}
.btn_newhand{height: 1.92rem;width: 8.53rem;background: url(./btn_newhand.png) 0 0 no-repeat;background-size: 8.53rem 1.92rem;margin: 0 auto;}