<section class="about-yao-wang">
    <p class="title-big">摇旺团队</p>
    <p class="title-small">团队介绍</p>
    <p class="word">摇旺团队目前划分为产品、技术、风控、运营、市场、公关和客服等部门，团队成员拥有服务于互联网+金融行业多年的实战经验。在严苛的风控管理基础之上，摇旺团队致力于为白领、中产个人及其家庭提供安全省心的投资理财服务。</p>
    <p class="title-small">团队风采</p>
    <img id="pic1">
    <p class="trim">摇旺团队大合照</p>
    <img id="pic2">
    <p class="trim">技术部门</p>
    <img id="pic3">
    <p class="trim">客服部门</p>
    <img id="pic4">
    <p class="trim">营销部门</p>
    <img id="pic5">
    <p class="trim">风控部门</p>
</section>