<section class="about-us">
    <section class="head-banner"><section></section></section>
    <section class="about-us-box trim1" id="toYaoWang">
        <section class="icons yao-icon"></section>
        <section class="word">
            <p>了解摇旺</p>
            <p>快乐投资，安全理财</p>
        </section>
        <section class="icons more-icon"></section>
    </section>

    <section class="about-us-box" id="toBao">
        <section class="icons bao-icon"></section>
        <section class="word">
            <p>安全保障</p>
            <p>多重风控，保驾护航</p>
        </section>
        <section class="icons more-icon"></section>
    </section>

    <section class="about-us-box trim1" id="toCon">
        <section class="icons we-icon"></section>
        <section class="word">
            <p>联系我们</p>
            <p>用心服务，排忧解难</p>
        </section>
        <section class="icons more-icon"></section>
    </section>
</section>