<section class="risk-hint">
  <h3 class="at">合格投资人声明</h3>
  <h2>致：资邦 (上海)网络科技有限公司</h2>
  <p>本人自愿申报成为合格投资人，并申明如下：</p>
  <p>本人申明在投资摇旺理财发布的理财产品之前，本人符合下列任意条件之一，且能够识别、判断和承担理财产品的投资风险：</p>
  <p>一、具有至少10万元可用于投资的个人资产（必要时需提供财产证明：包括但不仅限于提供银行开具的存款证明；提供近一个月内存折或存单复印件，需银行盖章；提供有价证券证明，一年内的有价证券资产证明，需证券公司盖章）。</p>
  <p>二、个人收入在最近3年内每年收入超过20万元人民币；夫妻双方合计收入在最近3年内每年收入超过30万元人民币；在认购信托计划时，个人或家庭金融资产总计超过100万元。根据相关规定，本人愿意提供所需的合格投资人收入证明。</p>
  <p>本人申明在进行投资行为前，认真阅读并理解所有产品文件，并愿意依法承担相应的投资风险。</p>
  <p>本人申明成为合格投资人后，对交易涉及的事项保密，并依法缴纳投资活动所产生的各项税费。</p>
</section>
