<div class="static-common">
    <h3>资金自动转入及摇宝代扣服务协议</h3>
    <p class="text-ind">本协议由资邦（上海）网络科技有限公司（以下简称“本公司”或“摇旺理财”）与摇旺理财APP、微信客户端或官网（http://www.91yaowang.com/）注册用户(以下简称“您”或“投资者”)就资金自动转入摇宝服务相关事项所订立的有效合约。在接受本协议之前，请您仔细阅读本协议的全部内容（特别是以粗体标注的内容）。如果您不同意本协议的任意内容，或者无法准确理解本公司对条款的解释，请不要进行后续操作。</p>
    <p class="text-ind">投资者通过网络页面点击确认或以其他方式选择接受本协议，即表示投资者与本公司已达成协议并同意接受本协议的全部约定内容以及与本协议有关的各项规则及本公司网站所包含的其他与本协议或本协议项下各项规则的条款和条件有关的各项规定。</p>
    <h5>一、定义</h5>
    <p>资金自动转入摇宝，是指在投资者开通自动转入功能后，投资者不可撤销的委托摇旺理财合作的第三方支付机构或合作银行，将投资者摇旺理财账户余额内的资金于每日00:00自动转入摇宝中，并按摇宝服务相关规定（包括但不限于《摇宝产品投资服务说明》及摇宝页面所展示产品说明等），正常计算收益。</p>
    <h5>二、服务内容</h5>
    <p>1、经摇旺理财验证符合开通资金自动转入摇宝服务条件的投资者，可以设置资金自动转入摇宝服务。投资者当日开通资金自动转入摇宝服务功能的，转入摇宝的金额将于下一日开始计算收益。</p>
    <p>2、您理解并同意，若您开通资金自动转入摇宝服务功能的，您将同时把产品到期后的回款路径变更为摇旺理财账户余额，若您不同意对回款路径进行变更的，请不要进行后续操作。</p>
    <p>3、您授权在您使用摇宝服务的同时，将摇宝增加为摇旺理财为您提供的各类代扣服务的扣款资金渠道之一，可使用摇宝作为代扣资金渠道的具体代扣服务以摇旺理财实际向您提供的为准。</p>
    <p class="text-ind">当您使用摇宝作为你投资定期项目的资金代扣渠道时，你用于投资定期产品的相应资金从您摇宝产品中扣划并转入。您授权产品的发行机构代为赎回您在摇宝内相应资金，并投资于您选定的定期产品。</p>
    <p>4、您理解并同意，摇旺理财有权根据实际情况在提供具体代扣服务时决定摇宝在扣款资金渠道中的顺位，具体以页面提示或网站的相关规则、解释为准。</p>
    <p>5、您理解并同意，当您发送代扣指令，且该代扣指令对应的扣款渠道为摇宝时（简称“摇宝代扣”），即会触发摇宝支付的申请。您理解并同意自您发送“摇宝代扣”指令之日起，就已扣款部分金额，您不再享有相应收益。</p>
    <p>6、您授权摇旺理财根据摇旺理财合作金融机构或第三方支付机构的指令从您的摇旺理财账户余额中进行扣款，并由摇旺理财的合作金融机构或第三方支付机构将相应款项转入您的摇宝。</p>
    <p>7、您理解并同意，对于资金自动转入摇宝功能的开通、修改、关闭等操作，均需要遵守发行机构系统或第三方支付机构或摇旺理财的相关提示和规则。</p>
    <p>8、您理解并同意，您需保证在扣款时您的摇旺理财账户余额足额且账户状态正常。若因您的账户余额不足、账户状态不正常或网络故障、系统故障等不可抗力的原因导致摇旺理财无法扣款成功，您理解并同意本协议项下的服务可能被顺延或终止。</p>
    <p>9、您理解并同意，摇旺理财有权视情形（包括但不限于摇宝产品停售、发生较大投资风险等）单方中止/终止向您提供本协议约定的资金自动转入摇宝服务。摇旺理财开展前述行动时将以本协议约定的方式通知，而无需另行单独通知您，也不就该等行动给您造成的损失（包括但不限于丧失投资机会而未能取得投资收益）承担责任。</p>
    <h5>三、通知</h5>
    <p class="text-ind">关于本协议条款和其他协议、告示或其他有关您使用资金自动转入摇宝服务的通知，本公司将以电子形式或纸张形式通知您，包括但不限于依据您向本公司提供的电子邮件地址发送电子邮件的方式、依据您提供的联系地址寄送挂号信的方式、于本网站公布或发送站内信、发送手机短信和电话通知等方式。</p>
    <h5>四、其他</h5>
    <p>1、因本协议引起的或与本协议有关的争议，均适用中华人民共和国法律。</p>
    <p>2、因本协议引起的或与本协议有关的争议，本公司可与投资者协商解决。协商不成的，任何一方均有权提起诉讼，并以本公司住所地人民法院为管辖法院。</p>
    <p>3、本协议作为《摇宝产品投资规则说明》的有效补充，本协议未约定的内容，双方均需按照《摇宝产品投资规则说明》履行相关约定。</p>
</div>