<section class="concat-us">
    <section class="concat-list">
        <section class="concat-con1"><i class="icons concat-icon1"></i>微信公众号</section>
        <section class="concat-con2">yaowang_licai</section>
    </section>
    <section class="concat-list">
        <section class="concat-con1"><i class="icons concat-icon2"></i>客服邮箱</section>
        <section class="concat-con2 concat-emi1">yaowangservice@zillionfortune.com</section>
        <section class="concat-con2 concat-emi2">yaowangservice<br>@zillionfortune.com</section>
    </section>
    <section class="concat-list">
        <section class="concat-con1"><i class="icons concat-icon3"></i>官网网址</section>
        <section class="concat-con2">http://www.91yaowang.com</section>
    </section>
</section>
<section class="concat-us">
    <section class="concat-list">
        <section class="concat-con1"><i class="icons concat-icon4"></i>客服电话</section>
        <section class="concat-con2 trim1">
            <p>400-049-9188</p>
            <p>工作日9:00-18:00(节假日除外)</p>
        </section>
    </section>
    <section class="concat-list">
        <section class="concat-con1"><i class="icons concat-icon5"></i>微信客服</section>
        <section class="concat-con2 trim2">
            <p>工作日8:30-20:30</p>
            <p>周末及节假日9:00-18:00</p>
        </section>
    </section>
    <section class="concat-list">
        <section class="concat-con1"><i class="icons concat-icon6"></i>公司地址</section>
        <section class="concat-con2 trim2">
            <p>上海市浦东新区杨高南路799号</p>
            <p>陆家嘴世纪金融广场3号楼18楼</p>
        </section>
    </section>
</section>