<section class="ui-credit">
    <div class="ui-credit-title">征信查询授权书</div>
    <p>本人做出以下授权并清楚理解其含义:</p>
    <p>(一)本人同意授权贵公司通过依法成立的征信机构查询本人的征信信息多次,授权期限为业务存续期;</p>
    <p>(二)本人同意授权贵公司将本人的征信信息提供给资邦(上海)网络科技有限公司管理运营的摇旺互联网金融信息服务平台,在贵平台与本人的约定用途范围内使用。</p>
    <p>(三) 本人同意授权贵公司向依法成立的征信机构提供因本业务产生的本人的信息(包括本人在本业务中产生的不良信息,且无须另行告知本人);</p>
    <p>(四)本人同意授权依法成立的征信机构进行以下事项:</p>
    <p>1.同意授权依法成立的征信机构向有关机构采集本人的个人信息,可依法整理、保存,加工、使用、提供,并出具个人信用报告; </p>
    <p>2.同意授权拥有本人不良信息的信息提供者可以向依法成立的征信机构提供本人的不良信息, 且无须另行告知本人;</p>
    <p>3、同意授权依法成立的征信机构向信息提供者采集本人收入、存款、有价证券、商业保险、不动产的信息和纳税数额信息。本人已被明确告知提供上述信息可能会给本人带来财产或信用损失,以及其他可能的不利后果,包括但不限于:采集这些信息对本人的信用评级(评分)、信用报告等结果可能产生的不利影响,以及该等信息被信息使用者依法提供给第三方后被他人不当利用的风险。但本人仍然同意授权依法成立的征信机构采集这些信息。</p>
    <p class="strong">特别提示:</p>
    <p>为了保障您的合法权益 ,您应当阅读并遵守本授权书。请您务必审慎阅读,并充分理解本授权书的全部内容,特别是以加粗形式提示您注意的。同时,我们公司将依法对信息保密,履行信息安全保障义务。若您不接受本授权书的任何条款,请您立即停止授权。</p>
    <p class="strong">特别声明:</p>
    <p>本授权书经接受后即时生效,且效力具有独立性,不因相关业务合同或条款无效或被撤销而无效或失效,<span class="bold">本授权一经做出,便不可撤消。</span></p>
    <p class="bold">本人已知悉本授权书全部内容(特别是加粗字体内容)的含义及因此产生的法律效力,自愿做出以上授权。本授权是本人真实意思表示,本人愿意承担由此带来的一切法律后果。</p>
</section>