<section class="static-common">
    <h3>开户协议</h3>
    <p class="cus-type">建议甲方充分了解网上远程交易的风险及本协议免责条款含义，谨慎考虑以决定是否选择网上交易及签订本协议。</p>
    <p class="cus-type">甲方：通过上海长量基金销售投资顾问有限公司网上交易系统进行开放式基金网上交易的投资者</p>
    <p class="cus-type">乙方：上海长量基金销售投资顾问有限公司（以下简称"长量基金销售"）</p>
    <p class="cus-type">公司电话：021-20691869</p>
    <p class="cus-type">委托服务网站：http://www.erichfund.com</p>
    <p class="cus-type">甲、乙双方依照有关法律、法规的规定，本着公开、公平和自愿、有偿、诚实信用的原则，就乙方为甲方提供网上远程交易委托服务及其他相关业务达成如下协议：</p>
    <p class="cus-type">第一条 释义：</p>
    <p>除非本协议文意另有所指，下列词语具有如下含义：</p>
    <p>1、网上交易：是指甲方通过乙方的网上交易系统进行开放式基金账户和交易账户的开户、销户、资料修改，提交基金认购、申购、赎回、预约赎回申请，转托管，基金转换，基金分红方式变更，交易密码修改，查询密码修改等交易申请以及当日和历史的交易记录查询和其它相关业务的交易方式。</p>
    <p>2、投资者：指通过乙方网上交易系统进行开放式基金网上交易的投资者。</p>
    <p>3、基金账户：指基金注册登记人为投资者开立的记录其持有乙方所设立、管理的开放式基金的基金份额、份额变更情况及基本资料的账户。</p>
    <p>4、基金交易账户：指基金销售人为投资者开立的记录其通过该销售人买卖乙方所设立、管理的开放式基金份额的变动及结余情况的账户。</p>
    <p>5、认购：指开放式基金设立募集期内，投资者申请购买基金单位的行为。</p>
    <p>6、申购：指开放式基金成立后，投资者申请购买基金单位的行为。</p>
    <p>7、赎回：指开放式基金存续期间内已持有基金份额的投资者要求基金管理人购回基金单位的行为。</p>
    <p>8、预约赎回：指基金持有人按基金契约规定的条件，预约一个赎回日期，在预约日期要求基金管理人购回基金单位的行为。</p>
    <p>9、基金转换： 指投资者将所持有的基金份额转换成同一注册登记人登记的同一基金管理公司的其他基金份额。</p>
    <p>10、基金份额转托管：指投资者将其持有的基金份额从一个交易账户转到另一交易账户进行交易的行为。</p>
    <p>11、基金单位资产净值：指计算日基金资产净值除以计算日基金份额总数后的价值。</p>
    <p>12、T日：指销售人确认的投资者有效申请工作日；T＋n日：指自T日起第n个工作日（不包含T日）。</p>
    <p>13、工作日：指上海证券交易所、深圳证券交易所的正常交易日。</p>
    <p>14、开放日：指为投资者办理基金申购、赎回等业务的工作日。</p>
    <p>15、交易密码：指长量基金销售网上交易账户的交易密码。</p>
    <p>16、登录密码：指准予投资网上交易系统的登录密码。</p>
    <p class="cus-type">第二条 远程交易服务的内容</p>
    <p>本协议所述远程交易服务内容包括：开放式基金账户和交易账户的开户、销户、资料修改，提交基金认购、申购、赎回、预约赎回申请，转托管，基金转换，基金分红方式变更，交易密码修改，查询密码修改等交易申请以及当日和历史的交易记录查询和其它相关业务。</p>
    <p class="cus-type">第三条 网上交易风险提示</p>
    <p>如果甲方愿意申请使用乙方网上交易业务，甲方即被认为已经完全了解网上交易的风险，能够承受网上交易风险，并能够承担由此可能带来的损失。 乙方已最大限度地采取了有效措施保护客户资料和交易活动的安全。尽管如此，本着对客户负责的态度，乙方在此郑重提醒甲方，网上交易仍然存在的风险包括但不限于：</p>
    <p>1、互联网是全球公共网络，并不受任何一个机构所控制。数据在互联网上传输的途径不是完全确定的。互联网本身并不是绝对安全可靠的环境。</p>
    <p>2、在互联网上传输的数据有可能被某些个人、团体或机构通过某种渠道获得。</p>
    <p>3、互联网上的数据传输可能因通信繁忙出现延迟，或因其他原因出现中断、停顿或数据不完全、数据错误等情况，从而使交易出现延迟、停顿或中断。</p>
    <p>4、互联网上发布的各种信息，包含但不限于分析、预测性资料，可能出现错误或被误导。</p>
    <p>5、甲方的网上交易身份可能会被仿冒。</p>
    <p>6、甲方自身计算机性能、质量、病毒、故障及其他原因，可能造成影响交易时间或交易数据，因此给甲方造成损失。</p>
    <p>7、甲方自身的疏忽造成账号或密码泄漏，可能会给甲方造成损失。</p>
    <p class="cus-type">第四条 甲方承诺：</p>
    <p>1、甲方清楚地了解使用网上交易可能遭受的风险，并自愿承担该种风险而导致的损失。</p>
    <p>2、甲方在签订本协议之前，已经详细阅读了本协议包括乙方免责条款在内的所有条款，并已准确理解其含义。</p>
    <p>3、甲方确认已详细阅读并理解乙方所设立、管理的开放式基金的《基金合同》、《招募说明书》及《开放式基金业务管理规则》、《开放式基金网上交易业务规则》及本协议书的所有内容，并接受上述所有内容。甲方明白投资于基金的风险，自愿通过乙方的网上交易系统办理基金业务，承诺上述业务视同甲方亲临乙方柜台办理。</p>
    <p>4、甲方投资于乙方管理的基金，须开立乙方的基金账户。开立乙方基金账户的投资者必须是中华人民共和国法律法规规定的合法投资者,并符合《长量基金销售投资顾问有限公司开放式基金业务规则》的开户条件。</p>
    <p>5、甲方保证用于投资乙方所设立、管理的基金的资金来源合法，不存在任何瑕疵，否则由此引起的任何责任由甲方承担。</p>
    <p>6、甲方保证所填写的信息真实、准确和有效，如有变化，甲方应及时变更相关资料。因甲方未能及时变更有关资料所可能导致的损失由甲方承担。甲方须承担因提供不真实、有误或无效信息而可能导致的一切责任，包括对乙方或任何第三方的损害赔偿责任。</p>
    <p>7、甲方单独使用网上交易方式，不与他人共享；甲方不利用该系统从事基金代理买卖业务及从中收取任何费用。</p>
    <p>8、甲方将确保其用于网上交易的设备的安全性和可靠性。对于因甲方的设备故障、通讯故障等原因造成的经济损失，乙方不承担责任。</p>
    <p>9、凡是使用甲方密码所进行的一切委托，均被视为甲方亲自办理之有效委托。甲方由于自己疏忽或其他原因而致使密码失密造成的损失由甲方自己承担，乙方对此不承担责任。</p>
    <p>10、甲方在发现或有理由认为存在未被授权的人正在或可能使用其账号、密码时，应立即与乙方联系，甲方承诺采取相应的保护、防范措施。</p>
    <p>11、甲方不利用技术或其他手段，攻击乙方网络，破坏乙方系统，否则承担由此给乙方或任何第三方造成的损失。</p>
    <p>12、甲方对其各项委托活动的结果承担全部责任，承诺偿付任何因其违约而使乙方遭受的损失。</p>
    <p>13、甲方不得将本协议项下的权利或义务的部分或全部转让给任何第三方。</p>
    <p>14、甲方须妥善保管交易密码和身份识别凭证，建议定期更换交易密码。乙方对任何交易申请仅作表面真实性审查。一切使用甲方身份识别凭证和/或交易密码进行的交易行为均视为甲方亲自办理之有效交易行为，由此造成的后果由甲方自行承担。</p>
    <p>15、为保护甲方交易数据的安全，在进行网络交易时，甲方应使用乙方指定的浏览器。如果使用不符合要求的其他软件或设备进入乙方网站，所引起的任何损失或造成的任何后果，均与乙方无关。</p>
    <p class="cus-type">第五条 乙方承诺：</p>
    <p>1、乙方遵守有关法律法规、规章制度，并愿意受本协议的相关条款的约束。</p>
    <p>2、乙方提供的网上交易系统的系统安全、数据备份和故障恢复手段符合监管机关的规定。</p>
    <p>3、对甲方的网上交易，乙方对相关电子数据进行保留并作为甲方交易行为的证明。乙方对甲方的委托资料、委托事项和密码负有保密义务，乙方未经甲方许可，不得透露甲方在乙方登记的任何资料。但乙方按照有关法律、法规和规章规定或有关司法机关、行政管理机关的要求提供甲方的有关资料和乙方用于公司内部用途不在此限。</p>
    <p>4、乙方在本协议生效当日，为甲方开通协议约定的交易委托方式。</p>
    <p class="cus-type">第六条 提示条款：</p>
    <p>1、网上交易受理条件提示：</p>
    <p>* 甲方须与乙方通过直销柜台或网上方式签订《长量基金销售投资顾问有限公司开放式基金网上远程交易委托服务协议》。</p>
    <p>* 甲方须通过网上方式开立交易账户，该交易账户在本协议履行过程中应处于正常交易状态。</p>
    <p>* 甲方通过网上方式开立账户时，须依据《长量基金销售投资顾问有限公司网上交易业务规则》办理。</p>
    <p>* 乙方收到甲方通过远程交易方式提交的认购、申购申请后，应在验证资金到账后受理申请。申购基金的价格计算以申请提交日的基金资产净值为依据。</p>
    <p>* 乙方收到甲方通过远程交易方式提交的赎回申请后，应在验证交易账户</p>
    <p>* 有足够基金余额时受理申请，否则视为无效申请，乙方可不予执行甲方赎回申请。</p>
    <p>2、网上交易的开通、变更与终止提示：甲方欲开通或终止网上交易手段，须依据《长量基金销售投资顾问有限公司网上交易业务规则》办理。</p>
    <p>3、支付业务提示：</p>
    <p>甲方须依据《准予投资顾问有限公司网上交易业务规则》办理资金支付事宜。</p>
    <p>4、设备提示：</p>
    <p>甲方应具备本协议约定网上交易所必需的设备。</p>
    <p>5、委托提示：</p>
    <p>a) 甲方网上远程下达的委托，以乙方的系统记录为准。</p>
    <p>b) 甲方使用网上交易，需自行支付因此产生的相关费用,如：上网费、电话费等。</p>
    <p>6、委托受理时间提示：</p>
    <p>认购期内，基金当日委托申请的受理截止时间为每日17：00，如甲方17：00后提交委托申请，则乙方视甲方的委托申请为次日的申请，但委托申请中选择当日为有效期的申请将被视为无效申请。在开放日，基金当日委托申请的受理截止时间为15：00，如甲方15：00后提交委托申请，则甲方的委托申请按下一个工作日的申请处理，但委托申请中选择当日为有效期的申请将被视为无效申请。甲方委托申请的时间以乙方系统自动记载时间为准。</p>
    <p class="cus-type">第七条 免责条款</p>
    <p>因下列情形导致甲方损失的，乙方不承担责任：</p>
    <p>1、因战争、自然灾害、罢工、地震、火灾、台风及其他各种不可抗力引起停电、网络系统故障、电脑故障；</p>
    <p>2、因电信部门的通讯线路故障、通讯技术缺陷、电脑黑客或计算机病毒等问题造成委托系统不能正常运转</p>
    <p>3、为确保网络传输的安全，保障甲方的利益，乙方对网络资料的传输采用网上安全电子认证证书方式，但乙方无法保证电子信息绝对安全，毫无错误或指定网址不被恶意攻击或因存在电子病毒所导致的故障，也不为此承担任何责任或甲方因网上交易的故障所可能导致的任何损失承担赔偿责任。</p>
    <p>4、法律和政策重大变化或乙方不可预测和不可控制因素导致的突发事件；</p>
    <p>5、因通讯、网络中断、堵塞等情况致使通过约定的委托手段无法下达申请委托时；</p>
    <p>6、因甲方设备或通讯故障或设备未能处于正常工作状态致使乙方未能按时收到或者收取甲方的申请信息不完整；</p>
    <p>7、因甲方的故意或疏忽导致交易密码泄露或遗失，由此导致甲方损失的；</p>
    <p>8、法律规定和本协议约定的其他乙方免责事项。</p>
    <p class="cus-type">第八条 协议生效及变更：</p>
    <p>1、在不损害甲方利益的前提下，乙方保留修改或增补本协议内容的权利。修改本协议通知以书面形式公告于乙方的网站及营业场所或以其他乙方认为可行的方式通知。甲方在修改通知公布之日起未向乙方提出书面异议，视同已经得到甲方的认可，但乙方增加本协议第二条所述服务内容除外。</p>
    <p>2、本协议书签署后，若有关法律法规和《基金合同》、《招募说明书》、《公开说明书》和其他乙方和甲方应共同遵守的文件发生修订，本协议与之不相适应的内容及条款自行失效，但本协议其他内容和条款继续有效。</p>
    <p>3、本协议在甲、乙双方签署后立即生效，在下述情况之一发生时终止：</p>
    <p>a) 双方签订书面协议同意终止。</p>
    <p>b) 甲方死亡或不再具备相应的民事行为能力。</p>
    <p>c) 甲方撤销直销交易账户或基金账户。</p>
    <p>d) 甲方通过柜台或网上方式取消网上交易。</p>
    <p>e) 乙方不作为甲方认购、申购、赎回所指向的基金或甲方所持有的基金的管理人。</p>
    <p>f) 因不可抗力使本协议无法继续履行。</p>
    <p>g) 一方违约，另一方书面通知对方提出终止本协议。</p>
    <p>第九条 争议的解决：</p>
    <p>甲、乙双方如有争议，应尽可能通过协商、调解解决，协商、调解不成，任何一方均有权向上海国际仲裁中心申请仲裁，仲裁按照该中心届时有效的仲裁规则进行。仲裁裁决是终局的，对双方均有法律约束力。</p>
</section>