<section class="risk-hint">
    <div class="at">免责声明</div>
    <h3>摇旺作为交易服务平台进行信息发布，不对任何委托人及/或任何交易提供任何担保，无论是明示、默示或法定的。摇旺平台提供的各种信息及资料仅供参考，委托人系依赖于委托人的独立判断在本项目项下进行定向委托投资，委托人在做出投资决策前，应全面了解相关定向委托投资协议内容及定向委托投资范围，谨慎决策；委托人应对委托人作出的判断承担全部责任，并自行承担全部风险。如发生委托人与受托投资管理机构产生的相关纠纷，由委托人自行与受托投资管理机构解决，摇旺不承担责任。</h3>
    <h3>委托人在委托受托人进行定向委托投资时应充分了解并认可，任何通过摇旺进行的交易并不能避免以下风险的产生，摇旺不能也没有义务为如下风险负责：</h3>
    <p>1）宏观经济风险：因宏观经济形势变化，可能引起投资收益等方面的异常波动，委托人有可能遭受损失；</p>
    <p>2）政策风险：有关法律、法规及相关政策、规则发生变化，可能引起投资收益等方面异常波动，委托人有可能遭受损失；</p>
    <p>3）违约风险：因其他交易方无力或无意愿按时足额履约，委托人有可能遭受损失；</p>
    <p>4）利率风险：市场利率变化可能对购买或持有产品的实际收益产生影响；</p>
    <p>5）不可抗力因素导致的风险；</p>
    <p>6）因委托人的过错导致的任何损失 ，该过错包括但不限于：决策失误、操作不当、遗忘或泄露密码、密码被他人破解、委托人使用的计算机系统被第三方侵入、委托人委托他人代理交易时他人恶意或不当操作而造成的损失。</p>
    <h3>※以上并不能揭示委托人通过摇旺进行委托投资的全部风险及市场的全部情形。</h3>
    <h3>摇旺仅提供投资信息发布、交易管理服务、客户服务等，不承担任何因投资产生的风险或代替交易方履约的责任。</h3>
</section>