<div style="background-color:#fff;padding-top:10px; height:100%;">
	<div class="inviterule">
		<ul>
			<li>受邀人通过您的专属链接注册才能建立关系。奖励针对活动期间的推荐，累计奖励无上限；</li>
			<li>邀请人每邀请一位好友注册并在摇旺投资任意定期产品（除变现），邀请人将获得<em>888旺豆</em>奖励；</li>
			<li>邀请人每邀请一位好友注册且在注册30天内在摇旺投资30天及以上定期产品（除变现）并投资额等于或大于1000元，邀请人和受邀人各获得<em>20元</em>现金红包；</li>
			<li>邀请人需申请成为理财大使后享现金奖励，理财大使活动规则可至“邀请好友-我的邀请”中查看；</li>
			<li>邀请人的旺豆奖励无上限，旺豆使用规则可至“旺家-旺豆攻略”中查看；</li>
			<li>为保证活动公平性，邀请用户必须为真实用户，如遇作弊行为，平台将取消奖励资格；</li>
			<li>在法律允许范围内，摇旺有权对活动规则条款做出适当修改或调整；</li>
			<li>若出现冒（盗）用他人信息进行虚假交易等行为，骗取活动奖励，摇旺有权撤销违规交易，不予发放活动奖励，冻结账户，情节严重者将移交司法机关追究相关法律责任；</li>
			<li>本活动为阶段性邀请福利，最终解释权归摇旺所有；</li>
			<li>理财有风险，投资需谨慎；</li>
			<% if($.isIOS()){ %>
			<li>本活动与苹果公司无关。</li>
			<%}%>
		</ul>
	</div>
</div>
