<section class="risk-hint">
    <div class="at">资产权益转让及受让协议</div>
    <div>
        <p class="rig">协议编号： </p>
        <h2 class="mb20">本资产权益转让及受让协议（下称“本协议”）由以下双方于签署： </h2>
        <h2>甲方姓名（资产权益转让人）：</h2>
        <h2>身份证号：</h2>
        <h2 class="mb20">摇旺用户名：</h2>

        <h2>乙方姓名（资产权益受让人）：</h2>
        <h2>身份证号：</h2>
        <h2 class="mb20">摇旺用户名：</h2>

        <h2>鉴于：</h2>
        <h3>甲方拟将其通过资邦（上海）网络科技有限公司（下称“资邦网络”）运营管理的摇旺理财信息平台（下称“摇旺平台”）居间协助投资认购的有关资产权益（下称“标的资产权益”）转让给乙方，乙方同意受让该等资产权益。</h3>
        <h3>就甲方通过摇旺平台向乙方转让资产权益事宜，双方经协商一致，达成如下协议：</h3>
        <h2>1.标的资产权益的转让</h2>
        <p>1.1标的资产权益信息：</p>
        <table>
            <tr>
                <td>产品名称</td>
                <td></td>
            </tr>
            <tr>
                <td>认购金额</td>
                <td></td>
            </tr>
            <tr>
                <td>借款年利率</td>
                <td></td>
            </tr>
            <tr>
                <td>原项目期限</td>
                <td>___天，自___起，至___止</td>
            </tr>
            <tr>
                <td>还款方式</td>
                <td></td>
            </tr>
            <tr>
                <td>还款日</td>
                <td></td>
            </tr>
        </table>
        <p>标的资产权益转让信息：</p>
        <table>
            <tr>
                <td>标的资产权益价值</td>
                <td></td>
            </tr>
            <tr>
                <td>转让价款</td>
                <td></td>
            </tr>
            <tr>
                <td>转让手续费</td>
                <td></td>
            </tr>
            <tr>
                <td>权益交割日</td>
                <td>乙方向甲方支付全部标的资产权益转让对价之日</td>
            </tr>
        </table>
        <p>1.2 资产权益转让流程</p>
        <p>1.2.1 双方同意并确认，以在摇旺平台在线点击确认的方式接受本协议全部条款，完成资产权益转让和受让操作。</p>
        <p>1.2.2 双方在摇旺平台在线点击确认接受本协议时，本协议立即成立；甲方收到乙方支付的全部标的资产权益转让款时，本协议立即生效。</p>
        <p>1.2.3 协议成立的同时乙方不可撤销地授权摇旺平台委托第三方支付机构或合作的金融机构，自乙方通过摇旺平台设立的第三方支付账户或金融机构账户，将转让价款在扣除甲方应支付给摇旺平台的转让手续费之后划转至甲方通过摇旺平台设立的第三方支付账户或金融机构账户。</p>
        <p>1.2.4 转让手续费：双方同意并确认，转让手续费由甲方负担，金额为本次转让价款总额的千分之二；如转让手续费低于人民币10元的，按人民币10元计收；高于人民币300元的，按人民币300元计收。 </p>
        <p>1.2.5 双方确认，资邦网络及摇旺平台不是本协议及本协议所涉及的资产权益的当事人；因标的资产权益产生的任何纠纷，与资邦网络及摇旺平台无关，甲方及乙方不得要求资邦网络及摇旺平台承担连带责任。摇旺平台接受甲方和乙方的委托所产生的法律后果由相应委托方承担。如因甲方、乙方或其他第三方（包括但不限于技术问题）造成的延误或错误，摇旺平台不承担任何责任。</p>
        <h2>2. 双方保证与承诺</h2>
        <p>2.1 甲方保证其转让的标的资产权益为其合法、有效取得的，不存在转让的限制或权属争议。</p>
        <p>2.2 乙方保证其所用于受让标的资产权益的资金来源合法，乙方是该资金的合法所有人。如果第三方对资金归属、合法性问题发生争议，乙方应自行负责解决并承担相关责任。</p>
        <h2>3. 违约责任</h2>
        <p>3.1 双方同意，如果一方违反其在本协议中所作的保证、承诺或任何其他义务，致使其他方遭受或发生损害、损失等责任，违约方须向守约方赔偿守约方因此遭受的一切经济损失。</p>
        <p>3.2 双方均有过错的，应根据双方实际过错程度，分别承担各自的违约责任。</p>
        <h2>4. 适用法律和争议解决</h2>
        <p>4.1 本协议的订立、效力、解释、履行、修改和终止以及争议的解决适用中国的法律。如果本协议中的任何一条或多条违反适用的法律法规，则该条将被视为无效，但该无效条款并不影响本协议其他条款的效力。</p>
        <p>4.2 本协议的签订地及履行地为上海市浦东新区。本协议在履行过程中，如发生任何争执或纠纷，双方应友好协商解决；若协商不成，任何一方均有权向有本协议签订地及履行地上海市浦东新区的人民法院提起诉讼。</p>
        <h2>5. 其他</h2>
        <p>5.1 双方可以书面形式对本协议作出修改和补充。经过双方签署的有关本协议的修改协议和补充协议是本协议组成部分，具有与本协议同等的法律效力。</p>
        <p>5.2 除本协议上下文另有定义外，本协议项下的用语以摇旺平台注册服务协议及其他有关规则中定义的含义为准。</p>
        <h2>甲方及乙方在审阅完毕本协议文本后，自愿做出以下承诺：</h2>
        <h2>“本人已经阅读本协议所有条款，充分了解并清楚知晓相应的权利、义务，并愿意承担相关风险。”</h2>
    </div>
</section>