<div class="peasraiders">
	<img src="<%=$.getStaticOrgin()%>/yaowang/dist/images/peasRaiders/1.png">
	<img src="<%=$.getStaticOrgin()%>/yaowang/dist/images/peasRaiders/2.png">
	<img src="<%=$.getStaticOrgin()%>/yaowang/dist/images/peasRaiders/3.png">
	<img src="<%=$.getStaticOrgin()%>/yaowang/dist/images/peasRaiders/4.png">
	<img src="<%=$.getStaticOrgin()%>/yaowang/dist/images/peasRaiders/5.png">
	<img src="<%=$.getStaticOrgin()%>/yaowang/dist/images/peasRaiders/6_<%=$.isIOS()?'ios':'android'%>.png">
</div>