<section class="realization">
    <p class="title">1.哪些产品可以变现？</p>
    <p class="word">在“产品详情中”有明确说明该产品是否可以变现，同时满足变现条件的产品在订单列表会进行提示。</p>
    <p class="title">2.变现如何操作？</p>
    <section class="word">
        <p>a.打开“我的”-“我的定期”，用户即可查看可变现的资产；</p>
        <p>b.打开详情，点击“立即变现”；</p>
        <p>c.同意变现协议，输入支付密码，即刻变现，并可在变现专区查看详情。</p>
    </section>
    <p class="title">3.变现如何收取手续费？</p>
    <section class="word">
        <p>产品变现由变现方承担手续费，公式如下：</p>
        <p>变现手续费=变现金额*变现手续费率(不成功不收取费用);其中手续费率为千分之二，手续费最低10元，最高不超过300元。</p>
    </section>
    <p class="title">4.变现后多久能收到钱？</p>
    <p class="word">变现成功，扣除手续费后，实际到账金额即可回到变现申请人账户中。实际到账金额=变现金额-变现手续费。</p>
    <p class="title">5.受让人是否可再次发起变现？</p>
    <p class="word">是的，变现规则同首次变现。</p>
</section>