<div class="static-common">
    <h3>用户礼券使用规则</h3>
    <p>1.返现券和代金券是由摇旺发放可用于指定定期产品的优惠券；加息券是由摇旺发放，具有额外赠送收益性质的优惠券；</p>
    <p>2.返现券不可抵投资本金，投资定期产品成功后，奖励金额自动返至账户中；</p>
    <p>3.代金券可在用户投资定期产品且投资总额和期限满足条件时试用，成功使用代金券后，投资应付总额中将减去使用满减券抵扣的金额。</p>
    <p>4.通过加息券可获得额外收益，收益将以现金的形式与投资项目的回款同时返还到您的账户中；</p>
    <p>5.现金红包可以直接提现。返现券、代金券、加息券和现金红包以下统称为“用户礼券”。</p>
    <p>6.用户可至“我的-我的礼券”查看礼券详情；</p>
    <p>7.使用用户礼券时需满足礼券的使用条件；</p>
    <p>8.用户礼券不可拆分或累加使用；</p>
    <p>9.每个用户礼券限使用一次，一经使用后不能撤回；</p>
    <p>10.在获取和使用用户礼券过程中，如果出现违规行为（如作弊领取等），摇旺将有权撤销违规交易，收回用户礼券且对应项目不再享受优惠；</p>
    <p>11.最终解释权归摇旺所有。</p>
</div>

