<div class="static-common">
    <h3>会员注册协议</h3>
    <p class="text-ind">摇旺理财（以下简称“本网站”）由资邦 (上海)网络科技有限公司（以下简称“本公司”）负责运营。在注册成为本网站会员前，请您（以下称“您”或“会员”）务必认真、仔细阅读并充分理解本注册服务协议（以下简称“本协议”）全部内容。您在注册本网站取得会员身份时勾选同意本协议并成功注册为本网站会员，视为您已经充分理解和同意本协议全部内容，并签署了本协议，本协议立即在您与本公司之间产生合同法律效力，您注册使用本网站服务的全部活动将受到本协议的约束并承担相应的责任和义务，并同意接收本网站发送的服务短信、邮件。如您不同意本协议内容或对本协议存在不理解的，请不要注册使用本网站服务。</p>
    <p class="text-ind">本协议包括以下所有条款，同时也包括本网站已经发布的或者将来可能发布的各类规则。所有规则均为本协议不可分割的一部分，与本协议具有同等法律效力。</p>
    <p class="text-ind">会员在此确认知悉并同意本公司有权根据需要不时修改、增加或删减本协议。本公司将采用在本网站公示的方式通知会员该等修改、增加或删减，会员有义务注意该等公示。一经本网站公示，视为已经通知到会员。 若会员在本协议及各类规则变更后继续使用本网站服务的，视为会员已仔细认真阅读、充分理解并同意接受修改后的本协议及各类规则，且会员承诺遵守修改后的本协议及各类规则内容，并承担相应的义务和责任。若会员不同意修改后的本协议及各类规则内容，应立即停止使用本网站服务，本公司保留中止、终止或限制会员继续使用本网站服务的权利，但该等终止、中止或限制行为并不豁免会员在本网站已经进行的交易下所应承担的责任和义务。本公司不承担任何因此导致的法律责任。</p>
    <h5>一、服务内容</h5>
    <p class="text-ind">本网站提供的服务包括但不限于：发布融资需求、查阅交易机会、提供合同文本和查阅合同、交易撮合、委托第三方托管机构代收/代付/资金充值/提现等，具体详情以本网站当时提供的服务内容为准。 本网站公布的项目本网站不作任何形式的担保和兜底，会员应对本网站公布的项目信息自行判断，并承担相应风险。</p>
    <h5>二、使用说明</h5>
    <p>1、会员成功注册后，自然人自行/企业由授权代理人根据本网站有关规则和说明，通过本网站确认签署有关协议并经本网站审核通过后实现融资需求、投资资金或理财产品购买需求。详细操作规则及方式请见有关协议及本网站相关页面的规则和说明。</p>
    <p>2、会员根据本网站指令规则进行相关交易或操作（包括但不限于冻结资金、支付或收取款项、订立合同等），即为会员同意本网站有权按相关指令依据本协议和/或有关文件和规则对相关事项进行处理，会员的操作行为具有相对应的法律效力。</p>
    <p>3、会员未能及时对交易状态进行确认或未能提交相关申请所引起的任何纠纷或损失，由会员本人负责，本网站不承担任何责任。 </p>
    <h5>三、使用限制</h5>
    <p>1、注册成为本网站会员、使用本网站服务，必须满足如下主体资格条件：如为自然人会员，需具有中华人民共和国（以下简称 “ 中国 ”，为本协议之目的，暂不包括中国香港、澳门、台湾地区） 国籍、持有中华人民共和国二代居民身份证、年龄在 18 周岁以上且具有完全民事行为能力的自然人。如为企业会员，需为在中国合法设立且有效存续的法人主体。若不具备前述主体资格条件，请立即终止注册使用本网站服务。若违反前述规定注册使用本网站服务或不再满足前述规定后仍然使用本网站服务，本公司保留终止会员资格、追究会员或会员的监护人相关法律责任的权利。</p>
    <p>2、会员在注册使用本网站服务时应当根据本网站的要求提供其真实信息，并保证向本网站提供的各种信息和资料是真实、准确、完整、有效和合法的，复印件、扫描件等与原件内容一致。如会员向本网站提供的各项信息和资料发生变更，会员应当及时向本网站更新会员的信息和资料，如因会员未及时更新信息和资料导致本网站无法向会员提供服务或发生错误，由此产生的法律责任和后果均由会员自己承担。如使用他人信息和文件注册使用本网站服务或向本网站提供的信息和资料不符合上述规定，由此引起的一切责任和后果均由会员本人全部承担，本公司及本网站不因此承担任何法律责任，如因此而给本公司及本网站造成损失，会员应当承担赔偿本公司及本网站损失的责任。</p>
    <p>3、成功注册为本网站会员后，会员应当妥善保管自己的会员名和密码，不得将会员名转让、赠与、泄露或授权给第三方使用。会员在此确认，使用其会员的会员名和密码登录本网站及由会员在本网站的会员账户下发出的一切指令均视为会员本人的行为和意思，该等指令不可逆转，由此产生的一切责任和后果由会员本人承担，本公司及本网站不承担任何责任。</p>
    <p>4、会员不得利用本网站从事任何违法违规活动，会员在此承诺合法使用本网站提供的服务，遵守中国现行法律、法规、规章、规范性文件以及本协议的约定。若会员违反上述规定，所产生的一切法律责任和后果与本公司和本网站无关，由会员自行承担，如因此给本公司和本网站造成损失的，由会员赔偿本公司和本网站的损失。本公司保留将会员违法违规行为及有关信息资料进行公示、计入会员信用档案、按照法律法规的规定提供给有关政府部门或按照有关协议约定提供给第三方的权利。</p>
    <p>5、如会员在本网站的相关行为或言论不合法，违反有关协议约定，侵犯本公司的利益的，本公司有权基于独立判断直接删除会员在本网站上做出的上述行为或言论，有权中止、终止、限制会员使用本网站服务，并无需承担任何责任。如因会员在本网站的言行不合法或违反有关协议约定而给本公司或本网站造成损失的，会员应当赔偿本公司及本网站的损失。</p>
    <p>6、本网站的网站内容可能涉及由第三方所有、控制或者运营的其他网站的内容或链接（以下称“第三方网站”）。本网站不能保证也没有义务保证第三方网站上的信息的真实性和有效性。对于该等内容或链接，您确认按照第三方网站的使用协议确定相关权利义务，而不是按照本协议。第三方网站的内容、产品、广告和其他任何信息均由您自行判断并承担风险，而与本网站无关。</p>
    <p>7、会员应使用借记卡，不得使用信用卡或任何可透支的银行卡进行注册和投资。</p>
    <h5>四、知识产权保护条款</h5>
    <p class="text-ind">本网站中的全部内容的著作权、版权及其他知识产权均属于本网站所有，该等内容包括但不限于文本、数据、文章、设计、源代码、软件、图片、照片及其他全部信息（以下称 “ 网站内容 ” ）。网站内容受中华人民共和国著作权法及各国际版权公约的保护。未经本网站事先书面同意，您承诺不以任何方式、不以任何形式复制、模仿、传播、出版、公布、展示网站内容，包括但不限于电子的、机械的、复印的、录音录像的方式和形式等。您承认网站内容是属于本网站的财产。未经本网站书面同意，您亦不得将本网站包含的资料等任何内容镜像到任何其他网站或者服务器。任何未经授权对网站内容的使用均属于违法行为，本网站将追究您的法律责任。</p>
    <h5>五、服务费用</h5>
    <p class="text-ind">您注册使用本网站服务，本公司有权向您收取服务费用，具体服务费用以本网站公告或其他相关协议为准。您承诺按照本协议约定向本网站支付服务费用，并同意本网站有权自其有关账户中直接扣划服务费用。您通过本网站与其他方签订协议的，您同意按照签署的协议约定向其他方支付费用。</p>
    <h5>六、会员信息的保护与披露</h5>
    <p>1、您同意本网站在业务运营中收集和储存您的会员信息，包括但不限于您自行提供的资料和信息，以及本网站自行收集、取得的您在本网站的交易记录和使用信息等。本网站收集和储存您的会员信息的主要目的在于提高为您提供服务的效率和质量。</p>
    <p>2、本网站将采用行业标准惯例以保护您的会员信息，包括建立相应的信息保护机制、设备等，但不能确保您的信息不会通过本协议中未列明的途径泄露出去，本网站不承担因此而导致的任何损失或责任。</p>
    <p>3、本网站有义务在行政、司法等有权机关要求，或合作的第三方资金托管机构、中介机构、资产管理机构合理要求，或事先获得您同意时向该等机关提供您的会员信息。在理财产品本息归还发生逾期时，您同意平台将您的会员信息提供给您的交易相对方、司法机构、中介机构。</p>
    <p>4、为保护您与平台其他会员的隐私，您在使用本网站与本网站上的其他会员建立合同关系时，网站显示的会员信息可能经过隐藏处理，您已知悉并同意对不能知晓交易对手的相关详细信息产生的相关风险由您自行承担。</p>
    <h5>七、责任承担条款</h5>
    <p>1、您应妥善保管会员名、密码等与账户相关的一切信息。如因您泄露账户密码或相关信息的（例如您发现有他人冒用或盗用您的账户及密码或进行任何其他未经合法授权行为之情形时），您应及时通知本网站以减少可能发生的损失，因上述原因导致的损失需由您自行承担，本网站对已执行的指令及（或）所导致的您的损失不承担任何责任。</p>
    <p>2、在任何情况下，本网站对您使用本网站服务而产生的任何形式的直接或间接损失均不承担法律责任，包括但不限于资金损失、利润损失、营业中断损失等。因为本网站或者涉及的第三方网站的设备、系统问题或者因为计算机病毒、黑客攻击、本网站及会员接入的网络问题、本网站合作的第三方资金托管机构过错等造成的损失，本网站均不负责赔偿，您的补救措施只能是与本网站终止本协议并停止使用本网站。但是，中华人民共和国现行法律、法规另有规定的除外。</p>
    <p>3、除本网站或其合作方在特定投资交易成立后的电子协议书中明示承担责任外，本网站提供的服务中不带有对本网站中的任何会员、任何交易的任何保证，因此本网站及其股东、创建人、高级职员、董事、代理人、关联公司、母公司、子公司和雇员（以下称 “ 本网站方 ” ）不保证由其他会员或机构提供的内容的真实性、充分性、及时性、可靠性、完整性和有效性，并且不承担任何由此引起的法律责任。 </p>
    <p>4、您在使用本网站及本网站合作的第三方支付机构网站时，若因您自身原因未能成功划款导致投资机会流失的，由您自行承担，本网站对您的损失不承担任何责任。</p>
    <p>5、在任何情况下，对于您使用本网站服务过程中涉及由第三方提供相关服务的责任由该第三方承担，本网站不承担该等责任。本网站不承担责任的情形包括但不限于：</p>
    <p>（1）因银行、第三方支付机构等第三方未按照您和/或本网站指令进行操作引起的任何损失或责任；</p>
    <p>（2）因银行、第三方支付机构等第三方原因导致资金未能及时到账或未能到账引起的任何损失或责任；</p>
    <p>（3）因银行、第三方支付机构等第三方对交易限额或次数等方面的限制而引起的任何损失或责任；</p>
    <p>（4）因其他第三方的行为或原因导致的任何损失或责任。</p>
    <p>6、您同意，基于互联网的特殊性，本网站不担保服务不会中断，也不担保服务的及时性和/或安全性。系统因相关状况无法正常运作，使您无法使用任何本网站服务或使用任何本网站服务时受到任何影响时，本网站对您或第三方不负任何责任，前述状况包括但不限于：</p>
    <p>（1）本网站系统停机维护期间。</p>
    <p>（2）电信设备出现故障不能进行数据传输的。</p>
    <p>（3）由于黑客攻击、网络供应商技术调整或故障、网站升级、银行方面的问题等原因而造成的本网站服务中断或延迟。</p>
    <p>（4）因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成本网站系统障碍不能执行业务的。</p>
    <h5>八、违约责任</h5>
    <p class="text-ind">就任何第三方提出的，由于您违反本协议及纳入本协议的条款和规则或您违反任何法律、法规或侵害第三方的权利而产生或引起的每一种类和性质的任何索赔、要求、诉讼、损失和损害（实际的、特别的及有后果的），无论是已知或未知的，包括合理的律师费，您同意就此对本网站和本网站的母公司、子公司、关联公司、高级职员、董事、代理人和雇员（如适用）进行补偿并使其免受损害。</p>
    <h5>九、服务的中止或终止</h5>
    <p>1、除非本网站终止本协议或您主动申请终止本协议并获得本网站审批通过，否则本协议始终有效。在您违反了本协议、相关规则，或在相关法律法规、政府部门的要求下，本网站有权通过电子邮件告知方式终止本协议、关闭您的账户或者限制您使用本网站。但本网站的终止行为不能免除您根据本使用协议或在本网站生成的其他协议项下的还未履行完毕的义务。</p>
    <p>2、发生下列情形之一的，本网站有权随时中止或终止向您提供服务：</p>
    <p>（1）对于网络设备进行必要的保养及施工时；</p>
    <p>（2）出现突发性的网络设备故障时；</p>
    <p>（3）本网站所使用的网络、网络通信设备停止，无法提供服务时；</p>
    <p>（4）由于不可抗力因素致使本网站无法提供线上服务时；</p>
    <p>（5）本网站合作的第三方资金托管机构服务暂停时；</p>
    <p>（6）相关政府机构的要求。</p>
    <p>3、发生下列情形之一的，本网站有权随时中止或终止向您提供服务而无需通知会员：</p>
    <p>（1）本网站认为会员提供的个人资料不准确，不真实，不合法有效；</p>
    <p>（2）本网站发现会员使用任何第三方程序进行恶意登录或使用非法服务；</p>
    <p>（3）本网站认为会员滥用所享受的权利；</p>
    <p>（4）本网站发现您有损害其他会员的行为；</p>
    <p>（5）本网站发现您有违背社会风俗和社会道德的行为；</p>
    <p>（6）本网站发现您有违反本协议中相关规定的行为。</p>
    <p>（7）本网站认为您的账户涉嫌洗钱、套现、传销、被冒用或其他本网站认为有风险之情形；</p>
    <p>（8）本网站基于交易安全等原因，根据其单独判断需先行暂停、中断或终止向您提供本协议项下的全部或部分会员服务，并将注册资料移除或删除的其他情形。</p>
    <p>4、如因系统维护或升级的需要而需暂停网络服务，本网站将尽可能事先进行通告。</p>
    <p>5、终止会员服务后，您使用本网站服务的权利立即终止。从终止您服务即刻起，本网站不再对您承担任何责任和义务。</p>
    <h5>十、适用法律和管辖</h5>
    <p>1、因本网站提供服务所产生的争议均适用中国大陆地区适用的法律（但不包括其冲突法规则），如发生本协议与适用之法律相抵触时，则这些条款将完全按法律规定重新解释，而其它有效条款继续有效。 </p>
    <p>2、在履行本协议过程中所发生的争议，首先应由本网站和会员协商解决；协商不成的，则提交本网站注册地法院以诉讼方式解决。</p>
    <h5>十一、其他条款</h5>
    <p>1、在本网站的某些部分或页面中、或者您使用本网站相关服务产品的过程中，可能存在除本协议以外的单独的附加服务条款或协议，当这些服务条款或协议与本协议条款及规则存在冲突时，则前述本协议以外的服务条款或协议将优先适用。</p>
    <p>2、若本协议的部分条款被认定为无效或者无法实施时，本协议中的其他条款仍然有效。</p>
    <p>3、您在本网站注册成功后，将由本网站向您分配一个固定的账户并与您的会员名相绑定。该账户将与您在本网站合作的第三方支付机构或银行开立的托管账户相对应。您可以通过向托管账户充值的方式，增加本网站账户上的余额。与本网站相关的所有资金的往来、划转均实际通过该支付机构或银行进行。您在此不可撤销地授权本网站按照本协议、附属规则及所有服务产品的具体使用协议及规则管理和划扣您账户余额对应于托管账户中的资金。</p>
    <p>4、如在本网站平台交易需订立的协议采用电子合同方式的，自然人会员或企业会员的代理人根据有关协议及本网站的相关规则在本网站确认签署的电子合同即视为会员本人真实意愿并以会员本人名义签署的合同，具有法律效力。</p>
    <p>5、会员根据本协议以及本网站的相关规则签署电子合同后，不得擅自修改该合同。合同如有任何争议，应以本网站记录的合同为准。</p>
    <p>6、若您在使用本网站的过程中有任何的疑问、投诉和咨询，可随时致电客服热线: 400-049-9188。</p>
</div>