<section class="risk-hint">
    <div class="at">风险提示书</div>
    <h3>委托人系依赖于委托人的独立判断在本项目项下进行定向委托投资，委托人在做出投资决策前，应全面了解相关定向委托投资协议内容及定向委托投资范围，谨慎决策；委托人应对委托人作出的判断承担全部责任，并自行承担全部风险。</h3>
    <div>
        <h2>一、政策风险</h2>
        <p>因国家法律、法规、行政规章或政策发生重大调整、变化或其他不可预知的意外事件，可能导致本定向委托投资的有效性发生变化或需要提前终止本定向委托投资的，从而可能导致委托人无法获取收益乃至本金遭受损失。</p>
    </div>
    <div>
        <h2>二、市场风险</h2>
        <p>资金市场供求关系的变化、货币政策、财政政策、行业政策等因素的变化，以及整体经济形势的变化，可能会对利率、汇率、资金成本和商品价格等因素产生负面影响，从而不利于委托人获取收益乃至本金遭受损失。</p>
    </div>
    <div>
        <h2>三、第三方机构管理风险</h2>
        <p>在定向委托投资项下通过作为委托投资标的管理人的银行、证券公司、基金管理公司、支付公司、合作商户等第三方机构对定向委托投资标的的管理获取投资收益。因此上述第三方机构对定向委托投资标的的管理能力可能会影响定向委托投资资金的收益水平，此外，上述第三方机构对定向委托投资盈利机会的判断是否准确、投资决策所需获取的信息是否完整、投资操作是否出现失误等，都会对定向委托投资资金的收益形成不利影响乃至本金遭受损失。</p>
    </div>
    <div>
        <h2>四、信用风险</h2>
        <p>无论何种原因，因定向委托投资标的项下的相对方不能按时偿付本金和收益或第三方机构不能按时支付定向委托投资标的项下投资本金和/或收益等原因，将可能导致委托人无法获取收益，甚至本金遭受损失。受托人并不对委托人的委托投资资金本金和任何收益(包括任何预期收益)承担保证、保本承诺或任何责任。</p>
    </div>
    <div>
        <h2>五、流动性风险</h2>
        <p>在锁定期内，委托人将无法提取并使用锁定期内的委托投资资金，将丧失用该部分资金投资其他更高收益的产品或资本市场产品的机会。</p>
        <p>在触发提取限制的条件下，受托人可能设置提取上限或拒绝全部或部分提取申请，此时委托人将无法按照预期时间获得全部拟提取金额。</p>
    </div>
    <div>
        <h2>六、操作风险</h2>
        <p>委托人可能会面临如下操作风险：</p>
        <p>1. 不可预测或无法控制的系统故障、设备故障、通讯故障、停电等突发事故将有可能给委托人造成一定损失；</p>
        <p>2. 由于存在互联网和移动通讯网络的黑客恶意攻击可能性，委托人可能会遭受损失；</p>
        <p>3. 委托人的账号及密码信息可能被盗或被泄露，客户身份可能被仿冒，委托人可能遭受因此导致的损失；</p>
        <p>4. 委托人的网络终端设备及软件系统可能会受到非法攻击或病毒感染，导致电子签名合同数据无法传输或传输失败，从而遭受损失；</p>
        <p>5. 委托人操作不当等原因可能会造成委托人损失；</p>
        <p>6. 网上交易、热键操作完毕，未及时退出，他人进行恶意操作将可能造成委托人损失；</p>
        <p>7. 由于委托人未能及时主动了解定向投资标的资产的信息，或由于通信故障、系统故障以及其他不可抗力等因素的影响，可能导致委托人无法及时做出合理决策，造成委托人损失；</p>
        <p>8. 委托人交由他人代理交易，或长期不关注账户变化，可能致使他人恶意操作而造成委托人损失。</p>
    </div>
    <div>
        <h2>七、其他风险</h2>
        <p>1. 由于自然灾害、战争、法律法规或政策等无法避免或无法控制的因素的出现，将影响市场的正常运行，从而导致定向委托投资标的损失，甚至影响该定向委托投资标的的运行、偿付等的正常进行；</p>
        <p>2. 金融市场危机、行业竞争、代理商违约等超出受托人、合作机构或第三方机构自身直接控制能力之外的风险，也可能导致委托人利益受损；</p>
        <p>3. 受托人、合作机构、第三方机构或担任定向委托投资标的托管人的托管机构因停业、解散、撤销、破产，或者被监管机构撤销相关业务许可等原因不能履行职责时，可能导致定向委托投资资产的损失；</p>
        <p>4. 与受托方合作的银行或第三方支付机构因停业、解散、撤销、破产、被监管机构撤销相关业务许可，或者因系统升级、系统故障等原因不能履行职责时，可能暂时无法提供与定向委托投资相关的服务；</p>
        <p>5. 因其他意外因素和不可抗力而导致的风险。</p>
    </div>
    <h3>以上并不能揭示定向委托投资的全部风险及市场的全部情形。委托人在做出交易决策前，应通过摇旺平台公布的信息及其他相关公告了解拟定向委托投资标的的风险收益特征，并根据自身的交易目标、风险承受能力和资产状况等谨慎决策，并自行承担全部风险。受托人不保证本定向委托投资一定盈利，也不保证本定向委托投资的最低收益。</h3>
</section>