<section class="sec-gua">
    <section class="sec-gua-mod1 col1">
        <p class="title-big">十层风控安全保障体系</p>
        <section class="sec-gua-list">
            <section class="num">第一层</section>
            <section class="word">
                <p>严谨的行业选择标准体系</p>
                <p>精准甄选低风险资产</p>
            </section>
        </section>
        <section class="dash-line">
            <span class="dash"></span>
        </section>
        <section class="sec-gua-list">
            <section class="num">第二层</section>
            <section class="word">
                <p>细致的合作机构筛选体系</p>
                <p>设定多重风险识别</p>
            </section>
        </section>
        <section class="dash-line">
            <span class="dash"></span>
        </section>
        <section class="sec-gua-list">
            <section class="num">第三层</section>
            <section class="word">
                <p>全方位的360度审查体系</p>
                <p>有效覆盖风险点</p>
            </section>
        </section>
        <section class="dash-line">
            <span class="dash"></span>
        </section>
        <section class="sec-gua-list">
            <section class="num">第四层</section>
            <section class="word">
                <p>特定的风险隔离资产生产体系</p>
                <p>有效规避操作风险</p>
            </section>
        </section>
        <section class="dash-line">
            <span class="dash"></span>
        </section>
        <section class="sec-gua-list">
            <section class="num">第五层</section>
            <section class="word">
                <p>合作方及资产存续期全程监管体系</p>
                <p>更及时的发现风险</p>
            </section>
        </section>
        <section class="dash-line">
            <span class="dash"></span>
        </section>
        <section class="sec-gua-list">
            <section class="num">第六层</section>
            <section class="word">
                <p>完善的内控稽查全过程体系</p>
                <p>确保风控持续有效性</p>
            </section>
        </section>
        <section class="dash-line">
            <span class="dash"></span>
        </section>
        <section class="sec-gua-list">
            <section class="num">第七层</section>
            <section class="word">
                <p>专业的资产评估体系</p>
                <p>高效的增减相应资产的配置比率</p>
            </section>
        </section>
        <section class="dash-line">
            <span class="dash"></span>
        </section>
        <section class="sec-gua-list">
            <section class="num">第八层</section>
            <section class="word">
                <p>严密的流动性风险检测机制</p>
                <p>随机预测任一时间的资金风险敞口</p>
            </section>
        </section>
        <section class="dash-line">
            <span class="dash"></span>
        </section>
        <section class="sec-gua-list">
            <section class="num">第九层</section>
            <section class="word">
                <p>实时的准备金调整及调拨机制</p>
                <p>确保准备金有效应对风险拨备</p>
            </section>
        </section>
        <section class="dash-line">
            <span class="dash"></span>
        </section>
        <section class="sec-gua-list">
            <section class="num">第十层</section>
            <section class="word">
                <p>高效的资产结构配置调整机制</p>
                <p>确保资产配置的安全可控</p>
            </section>
        </section>
    </section>
    <section class="sec-gua-mod2 col2">
        <p class="title-big">十项审核工序</p>
        <section class="sec-gua-list">
            <section class="icons sec-icon1"></section>
            <section class="word">01、甄选行业</section>
        </section>
        <section class="dash-line">
            <span class="dash"></span>
        </section>
        <section class="sec-gua-list">
            <section class="icons sec-icon2"></section>
            <section class="word">02、甄选合作机构</section>
        </section>
        <section class="dash-line">
            <span class="dash"></span>
        </section>
        <section class="sec-gua-list">
            <section class="icons sec-icon3"></section>
            <section class="word">03、风控部360度审查</section>
        </section>
        <section class="dash-line">
            <span class="dash"></span>
        </section>
        <section class="sec-gua-list">
            <section class="icons sec-icon4"></section>
            <section class="word">04、系统化对接</section>
        </section>
        <section class="dash-line">
            <span class="dash"></span>
        </section>
        <section class="sec-gua-list">
            <section class="icons sec-icon5"></section>
            <section class="word">05、持续性监管</section>
        </section>
        <section class="dash-line">
            <span class="dash"></span>
        </section>
        <section class="sec-gua-list">
            <section class="icons sec-icon6"></section>
            <section class="word">06、内控稽查管理</section>
        </section>
        <section class="dash-line">
            <span class="dash"></span>
        </section>
        <section class="sec-gua-list">
            <section class="icons sec-icon7"></section>
            <section class="word">07、数据搜查及交易结构设计</section>
        </section>
        <section class="dash-line">
            <span class="dash"></span>
        </section>
        <section class="sec-gua-list">
            <section class="icons sec-icon8"></section>
            <section class="word">08、流动性风险管理</section>
        </section>
        <section class="dash-line">
            <span class="dash"></span>
        </section>
        <section class="sec-gua-list">
            <section class="icons sec-icon9"></section>
            <section class="word">09、评审决策引擎综合评估</section>
        </section>
        <section class="dash-line">
            <span class="dash"></span>
        </section>
        <section class="sec-gua-list">
            <section class="icons sec-icon10"></section>
            <section class="word">10、资产配置可控性管理</section>
        </section>
    </section>
    <section class="sec-gua-mod3 col1">
        <p class="title-big">法律合规</p>
        <section>
            <p class="title-small"><span>公司运作的合规性</span></p>
            <p class="word">根据《公司法》设立，仅为会员与产品提供方提供信息服务并进行充分的信息披露，所有交易资金均由第三方支付平台专户管理、还款专用。</p>
        </section>
        <section>
            <p class="title-small"><span>理财模式的合规性</span></p>
            <p class="word">根据《合同法》设立，平台提供居间服务，会员获取权益均合法合规；根据《电子签名法》规定，电子合同具有法律效力。</p>
        </section>
    </section>
    <section class="sec-gua-mod4 col2">
        <p class="title-big">技术安全</p>
        <section class="sec-gua-list pad-bot1">
            <section class="icons sec-icon1"></section>
            <section class="word">
                <p>数据信息安全</p>
                <p>信息安全技术SSL加密传输方式，128位数据加密技术，保障会员信息和交易数据真实、安全、私密。</p>
            </section>
        </section>
        <section class="sec-gua-list pad-bot1">
            <section class="icons sec-icon2"></section>
            <section class="word">
                <p>平台安全</p>
                <p>摇旺平台托管在阿里云服务上，阿里云通过了CSA STAR、ISO 2700认证，满足《G-B/T22239-2008信息安全技术信息系统安全等级保护基本要求》第三级对应的安全指标要求。安全管理程序符合国际公认的标准，并通过了独立第三方审计的验证。通过系统的、持续的方法来管理信息安全风险，以保障自身及会员信息的保密性、完整性和可用性。</p>
            </section>
        </section>
        <section class="sec-gua-list pad-bot1">
            <section class="icons sec-icon3"></section>
            <section class="word">
                <p>网络信息安全</p>
                <p>网络防火墙、应用层防火墙、主机防火墙三层防护体系确保系统安全。</p>
            </section>
        </section>
        <section class="sec-gua-list pad-bot1">
            <section class="icons sec-icon4"></section>
            <section class="word">
                <p>监控安全</p>
                <p>完善的运维检测体系，7*24小时不间断严格监控管理</p>
            </section>
        </section>
        <section class="sec-gua-list pad-bot1">
            <section class="icons sec-icon5"></section>
            <section class="word">
                <p>系统冗余安全</p>
                <p>系统数据进行实时热备、每天的全量冷备及定时异地存储。</p>
            </section>
        </section>
    </section>
    <section class="sec-gua-mod3 col1">
        <p class="title-big">账户资金</p>
        <section>
            <p class="title-small"><span>资金监管</span></p>
            <section>
                <p class="word">1.摇旺平台，会员所有资金全程由第三方支付机构快钱支付托管，投资和还款资金开设独立专用帐户，实现专款专用，与平台自有资金完全分离。</p>
                <p class="word">2.快钱电子支付平台采用了国际上最先进的应用服务器和数据库系统，支付信息的传输采用了128位的SSL加密算法，整套安全体系获得了美国MasterCard网站信息安全认证、美国Visa持卡人信息安全认证和美国AmericanExpress运通的DSS认证。美国Oracle公司，VeriSign数字安全公司和ScanAlert网络安全公司每天为快钱提供全面的安全服务，确保数以亿计交易资金的安全。快钱拥有国际最高标准PCI（Payment Card Industry）信息安全认证和ISO/IEC 27001认证。</p>
                <p class="word">3.摇旺不接触会员资金。</p>
            </section>
        </section>
        <section>
            <p class="title-small"><span>账户安全</span></p>
            <section>
                <p class="word">1.会员所使用银行卡均通过银联电子支付进行，银行卡实名认证。</p>
                <p class="word">2.摇旺资金同卡进出，产品赎回或到期后提现，现金只会原路返回至购买时所使用的银行卡。</p>
                <p class="word">3.手势解锁(仅限APP)、支付密码、动态口令等多验证方式。</p>
            </section>
            <section>
                <p class="word">4.平台通过阿里云云盾产品实时监控保障。</p>
                <p class="word">5.资金帐户托管在快钱支付，采用了128位的SSL加密算法，加密保护会员资料；多级安全策略：异地登陆提醒、异常操作多重验证、帐户资金临时冻结、全程SSL加密、无缝的系统逻辑。</p>
            </section>
        </section>
    </section>
</section>