<div class="shake-hike-page">
    <div class="shake-hike-img1">
        <i class="pic1"></i>
    </div>
    <h3 class="shake-hike-title1">活动规则</h3>
    <p class="shake-hike-word1">
        单笔投资1000元以上（包括1000元）的可获得对本次投资
        即时摇加息的权利，100%可摇到加息，加息的时间为<span class="hint-time">7天</span>，
        只对投资本金有效，理财积分不能加息。
    </p>
    <h3 class="shake-hike-title2">加息规则一览表</h3>
    <div class="shake-hike-img2">
        <i class="pic2"></i>
    </div>
    <div class="btn2 mar-bot btn-url">
        <span class="btn-word1" data-url="product">立即投资</span>
    </div>
</div>
