<div class="insurance-item">
	<h2 class="title">太平财产保险有限公司</h2>
	<h2 class="sub-title">网络支付账户资金损失保险条款</h2>
	<h3  class="description">总则</h3>
	<div class="content-wrapper">
    <p class="indent"><span class="stress">第一条</span> 本保险合同由保险条款、投保单、保险单或其它保险凭证、批单等组成。凡涉及本保险合同的约定，均应采用书面形式。</p>
    <p class="indent"><span class="stress">第二条</span> 本保险合同的被保险人为在中华人民共和国境内（不含港、澳、台地区）依法设立并合法提供非金融机构支付服务的法人机构的网络支付平台上（以下简称“网络支付平台”）开设非金融机构支付账户（以下简称“支付账户”）的账户所有人。</p>
<h3  class="stress description">保险标的</h3>
 <p class="indent"><span class="stress">第三条</span>&nbsp;本保险合同的保险标的为被保险人在网络支付平台的支付账户内的资产或权益，包括且不限于存款、基金、股票、债券等。
</p>
<h3  class="stress description">保险责任</h3>
<p class="indent"><span class="stress">第四条</span> 在保险期间内，被保险人在本保险合同载明的网络支付平台开设的支付账户内的资产或权益发生下列情形的损失，则保险人依据本保险合同负责赔偿：
<p>（一）被保险人的支付账户密码、安全工具（包括U盾、物理口令卡、绑定手机/手机验证码、数字证书等）被不法分子盗取，造成被保险人支付账户内的资产或权益通过网络支付平台被盗转、盗用的损失；
</p>
<p>（二）不法分子盗取被保险人身份证、银行卡或安全工具（包括U盾、物理口令卡、绑定手机、数字证书等）等方式，在本保险合同载明的网络支付平台注册、开通支付账户，造成被保险人支付账户内的资产或权益通过网络支付平台被盗转、盗用的损失。
</p>
</p>
<h3  class="stress description">责任免除</h3>
<div class="indent">
<span class="stress">第五条</span>下列原因造成的保险标的的损失、费用和责任，保险人不负责赔偿：
<p>（一） 投保人、被保险人及其代表的故意行为或重大过失；</p>
<p>（二） 被保险人主动将资产转入他人账户或主动向他人提供或泄露支付账户密码、安全工具（包括U盾、物理口令卡、绑定手机/手机验证码、数字证书等）；</p>
<p>（三） 行政行为或司法行为；</p>
<P>（四） 系统停机维护；</P>
<p>（五） 通讯终端或电信设备出现故障不能进行数据传输的；</p>
<p>（六） 因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成系统障碍不能提供服务的；</p>
<p>（七） 由于黑客攻击、电信部门技术调整或故障、网站升级、第三方问题等原因而造成的服务中断或者延迟。</p>
<p class="indent">第六条 下列损失、费用和责任，保险人不负责赔偿：</p>
<p>（一） 金融机构在网络支付平台开设的支付账户的任何损失，金融机构包括银行、证券公司、保险公司、基金公司以及信托公司等取得金融机构许可资质的法人；</p>
<p>（二） 被保险人的雇佣人员、代理人、家庭成员或共同居住人员所造成的损失；</p>
<p>（三） 罚款、罚金及惩罚性赔偿；</p>
<p>（四） 精神损害赔偿；</p>
<p>（五） 任何间接损失；</p>
<p>（六） 被保险人在投保之前已经知道或可以合理预见的索赔情况；</p>
<p>（七） 本保险合同中载明的免赔额；</p>
<p>（八） 网络支付平台或其他第三方已经依据服务承诺向被保险人履行的全部或部分赔偿责任；</p>
<p>（九） 依法应由网络支付平台承担的任何损失。</p>
<p>第七条 其他不属于本保险责任范围内的损失、费用和责任，保险人不负责赔偿。</p>
</div>
<h3  class="stress description">保险金额与免赔额（率）</h3>
<p class="indent"><span class="stress">第八条</span> 保险金额为保险人承担赔偿责任的最高金额，由投保人与保险人协商确定，并在保险合同中载明。</p>
<p class="indent"><span class="stress">第九条</span>免赔额（率）由投保人与保险人在订立保险合同时协商确认，并在保险合同中载明。</p>
<h3  class="stress description">保险期间</h3>
<p class="indent"><span class="stress">第十条</span> 本合同保险期间以保险人和投保人协商确定，以保险单载明的起讫时间为准，但最长不超过一年。</p>
<h3  class="stress description">保险费</h3>
<p class="indent"><span class="stress">第十一条</span> 除另有约定外，投保人应当在本保险合同成立时或保险合同约定的缴费日期交清保险费。保险费未按约定及时足额交付前发生的保险事故，保险人不承担赔偿责任。如投保人逾期支付保费超过保险合同中载明的期限，保险人不承担逾期期间发生的保险事故的赔偿责任，并有权解除保险合同并通知被保险人，保险合同自保险人解除合同的书面通知送达投保人时解除。</p>
<h3  class="stress description">保险人义务</h3>
<p class="indent"><span class="stress">第十二条</span> 本保险合同成立后，保险人应当及时向投保人签发保险单或其他保险凭证。</p>
<p class="indent"><span class="stress">第十三条</span> 保险人按照第二十一条的约定，认为被保险人提供的有关索赔的证明和资料不完整的，应当及时一次性通知投保人、被保险人补充提供。</p>
<p class="indent"><span class="stress">第十四条</span> 保险人收到被保险人的赔偿保险金的请求后，应当及时作出是否属于保险责任的核定；情形复杂的，保险人将在确定是否属于保险责任的基本材料收集齐全后，尽快做出核定。保险人应当将核定结果通知被保险人；对属于保险责任的，在与被保险人达成赔偿保险金的协议后十日内，履行赔偿保险金义务。保险合同对赔偿保险金的期限有约定的，保险人应当按照约定履行赔偿保险金的义务。保险人依照前款约定做出核定后，对不属于保险责任的，应当自做出核定之日起三日内向被保险人发出拒绝赔偿保险金通知书，并说明理由。</p>
<p class="indent"><span class="stress">第十五条</span> 保险人自收到赔偿保险金的请求和有关证明、资料之日起六十日内，对其赔偿保险金的数额不能确定的，应当根据已有证明和资料可以确定的数额先予支付；保险人最终确定赔偿的数额后，应当支付相应的差额。</p>
<h3  class="stress description">投保人、被保险人义务</h3>
<p class="indent"><span class="stress">第十六条</span>&nbsp;订立保险合同，保险人就保险标的或者被保险人的有关情况提出询问的，投保人应当如实告知。
投保人故意或者因重大过失未履行前款规定的如实告知义务，足以影响保险人决定是否同意承保或者提高保险费率的，保险人有权解除保险合同。
前款约定的合同解除权，自保险人知道有解除事由之日起，超过三十日不行使而消灭。自合同成立之日起超过二年的，保险人不得解除合同；发生保险事故的，保险人应当承担赔偿保险金的责任。
投保人故意不履行如实告知义务的，保险人对于合同解除前发生的保险事故，不承担赔偿保险金的责任，并不退还保险费。
投保人因重大过失未履行如实告知义务，对保险事故的发生有严重影响的，保险人对于合同解除前发生的保险事故，不承担赔偿保险金的责任，但应当退还保险费。
保险人在合同订立时已经知道投保人未如实告知的情况的，保险人不得解除合同；发生保险事故的，保险人应当承担赔偿保险金的责任。
<p class="indent"><span class="stress">第十七条</span> 除另有约定外，投保人应当在保险合同成立时交付保险费。</p>
约定一次性缴清保险费的，投保人在约定交费日后缴清保险费的，保险人对交费之前发生的保险事故不承担保险责任。</p>
约定分期交付保险费的，保险人按照保险事故发生前保险人实际收取保险费总额与投保人应当交付的保险费的比例承担保险责任，投保人应当交付的保险费是指截至保险事故发生时投保人按约定分期应该缴纳的保费总额。
<p class="indent"><span class="stress">第十八条</span>被保险人应当严格遵守国家法律法规及政府有关部门制定的各项规定，加强管理，采取合理的预防措施，尽力避免或减少责任事故的发生。</p>
<p>保险人可以对投保人遵守前款约定的情况进行检查，向投保人、被保险人提出消除不安全因素和隐患的书面建议，投保人、被保险人应该认真付诸实施。但前述检查并不构成保险人对投保人的任何承诺。</p>
投保人、被保险人未按照约定履行其对保险标的的安全应尽责任的，保险人有权要求增加保险费或者解除合同。</p>
<p class="indent"><span class="stress">第十九条</span> 在保险合同有效期内，支付账户资金通过网络支付平台被盗转、盗用的危险程度显著增加的，被保险人应当及时通知保险人，保险人可以增加保险费或者解除合同。
被保险人未履行前款约定的通知义务的，因支付账户资金通过网络支付平台被盗转、盗用的危险程度显著增加而发生的保险事故，保险人不承担赔偿保险金的责任。</p>
<p class="indent"><span class="stress">第二十条</span> 知道保险事故发生后，投保人、被保险人应该：
<p>（一）应当立即向网络支付平台申请账户冻结等必要、合理的措施，防止或减少损失，否则，对因此扩大的损失、保险人不承担赔偿责任；</p>
<p>（二）立即向保险人报案，并书面说明事故发生的原因、经过和损失情况；故意或者因重大过失未及时通知，致使保险事故的性质、原因、损失程度等难以确定的，保险人对无法确定的部分，不承担赔偿责任，但保险人通过其他途径已经及时知道或者应当及时知道保险事故发生的除外；</p>
<p>（三）允许并且协助保险人进行事故调查。对于拒绝或者妨碍保险人进行事故调查导致无法确定事故原因或核实损失情况的，保险人对无法核实的部分不承担赔偿责任；</p>
<p>（四）涉及违法、犯罪的，应立即向公安部门报案，否则，对因此扩大的损失，保险人不承担赔偿责任。</p>
</p>
	<h3  class="stress description">保险金申请与给付</h3>
<p class="indent"><span class="stress">第二十一条</span> 被保险人请求赔偿时，应向保险人提供下列证明和资料：
<p>（一）保险单或其他保险凭证正本；</p>
<p>（二）索赔申请书；</p>
<p>（三）被保险人开设的账户信息；</p>
<p>（四）被保险人的银行对账单和网络支付平台转账、交易清单；</p>
<p>（五）公安机关提供的报立案及未破案证明等书面材料；</p>
<p>（六）投保人、被保险人所能提供的与确认保险事故的性质、原因、损失程度等有关的其他证明和资料。</p></p>
<p class="indent"><span class="stress">第二十二条</span>&nbsp;被保险人未履行前款约定的索赔材料提供义务，导致保险人无法核实损失情况的，保险人对无法核实部分不承担赔偿责任。
</p>
<h3  class="stress description">赔偿处理</h3>
<p class="indent"><span class="stress">第二十三条</span> 保险事故发生时，如果投保人重复保险且被保险人的损失在有相同保障的其他保险项下也能够获得赔偿，则本保险人按照本保险合同的赔偿限额与其他保险合同及本保险合同的赔偿限额总和的比例承担赔偿责任。</p>
<p>其他保险人应承担的赔偿金额，本保险人不负责垫付。若被保险人未如实告知导致保险人多支付赔偿金的，保险人有权向被保险人追回多支付的部分。</p>
<p class="indent"><span class="stress">第二十四条</span> 发生保险责任范围内的损失，应由有关责任方负责赔偿的，保险人自向被保险人赔偿保险金之日起，在赔偿金额范围内代位行使被保险人对有关责任方请求赔偿的权利，被保险人应当向保险人提供必要的文件和所知道的有关情况。
<p>被保险人已经从有关责任方取得赔偿的，保险人赔偿保险金时，可以相应扣减被保险人已从有关责任方取得的赔偿金额。</p>
保险事故发生后，在保险人未赔偿保险金之前，被保险人放弃对有关责任方请求赔偿权利的，保险人不承担赔偿责任；</p>保险人向被保险人赔偿保险金后，被保险人未经保险人同意放弃对有关责任方请求赔偿权利的，该行为无效；由于被保险人故意或者因重大过失致使保险人不能行使代位请求赔偿的权利的，保险人可以扣减或者要求返还相应的保险金。
<p class="indent"><span class="stress">第二十五条</span>&nbsp;保险人受理报案、进行现场查勘、核损定价、参与案件诉讼、向被保险人提供建议等行为，均不构成保险人对赔偿责任的承诺。</p>
<p class="indent"><span class="stress">第二十六条</span> 被保险人向保险人请求赔偿保险金的诉讼时效期间为二年，自其知道或者应当知道保险事故发生之日起计算。</p>
<h3  class="stress description">争议处理和法律适用</h3>
<p class="indent"><span class="stress">第二十七条</span> 因履行本保险合同发生的争议，由当事人协商解决。协商不成的，提交保险单载明的仲裁机构仲裁；保险单未载明仲裁机构且争议发生后未达成仲裁协议的，依法向人民法院起诉。</p>
<p class="indent"><span class="stress">第二十八条</span> 与本保险合同有关的以及履行本保险合同产生的一切争议，适用中华人民共和国法律（不包括港澳台地区法律）。</p>
<h3  class="stress description">其他事项</h3>
<p class="indent"><span class="stress">第二十九条</span> 除本合同另有约定外，经投保人和保险人协商同意后，可变更本合同的有关内容。变更本合同时，投保人应填写变更合同申请书，经保险人审核同意，并在本合同的保险单或其它保险凭证上加以批注，或由投保人和保险人订立变更的书面协议后生效。</p>
<p class="indent"><span class="stress">第三十条</span> 保险责任开始前，投保人要求解除保险合同的，应当向保险人支付不超过5%的退保手续费，保险人应当退还剩余部分保险费；保险人要求解除保险合同的，不得向投保人收取手续费并应退还已收取的保险费。
保险责任开始后，投保人要求解除保险合同的，自通知保险人之日起，保险合同解除，保险人按附表规定的短期费率计收保险责任开始之日起至合同解除之日止期间的保险费，并退还剩余部分保险费；保险人也可提前十五日向投保人发出解约通知书解除本保险合同，并按保险责任开始之日起至合同解除之日止期间与保险期间的日比例计收保险费后，退还剩余部分保险费。</p>
<h3  class="stress description">释义</h3>
<p><span class="stress">保险人：</span>指与投保人签订本保险合同的太平财产保险有限公司及分支机构。</p>
<p><span class="stress">家庭成员：</span>直系血亲及在一起共同生活的其他亲属。</p>
<p><span class="stress">共同居住人员：</span>指与被保险人共同居住在同一套房屋内超过5天的人。</p>
<p><span class="stress">雇佣人员：</span>指：</p>
<p>（一）与被保险人订立劳动合同的所有人员（含全职、兼职和临时职工）；</p>
<p>（二）虽未与被保险人订立劳动合同但由被保险人正式任命的人员（含董事会成员、监事会成员）；</p>
<p>（三）虽未与被保险人订立劳动合同或未由其正式任命，但为其提供与职工类似服务的人员（含劳务用工合同人员）。</p>
重复保险：指投保人对同一保险标的、同一保险利益、同一保险事故分别与两个及以上保险人订立保险合同，且保险金额总和超过保险标的保险价值的保险。
</div>
</div>