<div class="yao-pro">
    <div class="yao-pro-title">总则</div>
    <div class="static-common yao-pro-bom">
        <p>1、本说明书由受托机构制定并解释，由资邦（上海）网络科技有限公司通过“摇旺理财“平台进行公布。本说明书仅为发行人在摇旺平台发布”摇宝”产品投资、收益计算、提现及查询等事项进行简要说明，并不构成对相关当事人有法律约束力的文件。具体产品系列投资内容以相关服务协议为准。</p>
        <p>2、“摇宝”是受托机构推出的理财产品，并由资邦（上海）网络科技有限公司(“摇旺”)提供居间信息服务，<%=compName%>作为委托方；该产品依据会员委托，由<%=compName%>投资于合作机构发行的金融产品（包括但不限于借款类产品、债券类产品、银行票据类产品、金融资产类产品等），对金融产品进行筛选、投资/出借、发起转让/赎回以及获取投资收益。会员加入的资金及获得的收益，在满足“摇宝”理财产品相关服务规则的前提下，可部分或全部向受托机构申请转出。</p>
        <p>3、“摇宝”理财产品的参与人包括受托机构、合作机构、受托机构、管理人、法律服务机构、信息服务方、托管行、投资会员。</p>
        <div class="pic1"></div>
        <p class="yao-pro-url" id="touRule">查看投资规则说明</p>
        <p><span class="word">合作机构：</span>指与受托机构建立合作关系的金融机构和其他机构。</p>
        <p><span class="word">受托机构：</span>受托机构对合作机构推荐的产品进行筛选，投资资金给融资方、及/或受让优质债权、收益权及/或申购理财产品的投资计划的机构。</p>
        <p><span class="word">管理人：</span>指凭借专门的知识与经验，运用所管理受托机构的资产，根据法律、法规及受托机构规定，按照科学的投资组合原理进行投资决策的机构。</p>
        <p><span class="word">法律服务机构：</span>指为受托机构的金融产品的底层资产真实性、交易结构安全性进行尽职调查、合规性审核，并出具法律意见书的律师事务所。本说明书所涉律师事务所为律师事务所。</p>
        <p><span class="word">信息服务方：</span>指提供信息发布、交易组织等交易辅助及中介等居间服务的第三方机构，即摇旺平台。</p>
        <p><span class="word">托管行：</span>指为投资会员的资金以及服务机构提供托管服务的金融机构；本说明书所涉托管行为银行或第三方支付机构（指为投资会员的资金以及服务机构提供托管服务的第三方支付公司）。本说明书所涉第三方托管机构为快钱支付。</p>
        <p><span class="word">投资会员：</span>在“摇旺”平台合法注册，并以其自身名义由系统自动为其产生虚拟账户，并依据相关服务进行投资的合格投资者。</p>
    </div>
    <div class="yao-pro-title">摇宝理财</div>
    <div class="static-common yao-pro-bom">
        <p>1、依据《定向委托投资服务协议》投资会员自愿将合法所有的资金投放于第三方托管账户，并委托给受托机构投资于定向委托投资标的，通过受托机构对定向委托投资标的的管理获取投资收益。投资者定向委托投资、提取定向委托投资的申请，即等同于委托受托机构向受托机构追加及赎回等同金额的定向委托投资标的。</p>
        <p>2、投资会员根据服务机构发布的金融产品信息进行投资申请，投资会员在进行投资时应当已经正式注册成为摇旺的个人会员。</p>
        <p>3、投资会员在T日通过服务机构递交有效的理财投资申请，服务机构在T日确认通过并通知投资会员。其中T日为投资会员有效申请日和资金到账日（无工作日和非工作之分）。</p>
        <p>4、投资会员单笔理财投资的最低金额为100元，且最小定增额度为0.01元，投资会员单笔投资金额上限20万，且是不超过项目总金额。</p>
        <p>5、本说明书下，信息服务方仅向产品受托机构收取信息服务费，暂不向投资会员收取财富管理服务费。信息服务方保留收费的权力，如另行调整收费标准，应及时将收费标准及明细公示或告知投资会员。</p>
    </div>
    <div class="yao-pro-title">投资收益</div>
    <div class="static-common yao-pro-bom">
        <p>摇宝理财产品收益计算公式<br/><span class="yao-pro-col">每日收益=在投本金/10000*万份收益</span></p>
        <p>投资人收益示例<br/>何先生购买了<span class="yao-pro-col bor_bot1">8800</span>摇宝，当天每万份收益为<span class="yao-pro-col bor_bot1">1.23</span>元，则何先生当日收益为8800/10000*1.23=1.08，即收益为:<span class="yao-pro-col bor_bot1">1.08</span>元。</p>
    </div>
    <div class="yao-pro-title">赎回</div>
    <div class="static-common yao-pro-bom">
        <p>1、投资会员有权于每笔投资申请成功后要求赎回全部或部分理财投资金额。</p>
        <p>2、投资会员于T日通过信息服务方提出赎回请求，发行机构应与T日向投资会员摇旺账户支付其请求赎回的金额的收益；其中T日为有效申请日（无工作日和非工作日之分）。申请赎回后实时汇款至第三方托管账户。</p>
    </div>
    <div class="yao-pro-title">提现</div>
    <div class="static-common yao-pro-bom">
        <p>1、投资会员提现的金额可以任意，但是提现的单笔最低金额5元起，每日免费提现3次，3次后提现每笔1.5元作为手续费，每日提现总限额根据会员所绑定的归属银行平台限额来定。</p>
        <p>2、投资会员通过信息服务方提出提现请求时，受托机构应向投资会员支付其请求提现的金额，最快可实现T+0到账。鉴于第三方支付机构及银行可能出现交易延时，具体到账时间以银行到账时间为准。</p>
        <div class="pic2"></div>
        <p><span class="yao-pro-col">注：</span>依据快钱与银行所定协议，周六周日以及法定节假日，摇旺平台暂不提供提现服务，在此期间，投资到期的本金及收益将自动回款至您的账户余额，顺延至工作日方可提现。</p>
        <p>对因受托机构支付迟延而造成会员提现摇宝理财投资额 实际兑付日顺延，信息服务方不承担任何责任。</p>
    </div>
    <div class="yao-pro-title">查询</div>
    <div class="static-common yao-pro-bom">
        <p>1、会员于T日提出有效的摇宝投资理财产品委托投资申请，且受托机构于T日确认投资成功，会员可于T日起通过摇旺网络平台查询摇宝投资理财产品投资成功和摇宝投资理财产品资产价值情况。</p>
        <p>2、会员于T日提出有效提现申请后，可以于T日通过摇旺网络平台查询提现申请办理、资金划付以及提现申请办理完成后届时会员摇宝投资理财产品资产价值情况。</p>
        <p>3、依据受托机构提供的有关摇宝投资理财产品投资标的每日收益情况，受托机构将于每一工作日通过摇旺网络平台发布前一天摇宝投资理财产品投资的每万元收益、摇宝投资七日平均收益率及前一工作日会员摇宝投资理财产品投资咨询分配收益（不分工作日与非工作日）。</p>
        <p>示例：<br/>一般情况下，发布日期和数据对应关系如下：</p>
        <div class="pic3"></div>
        <p>4、本平台依据受托机构规则提供的收益率、分配收益、摇宝投资理财产品资产价值情况仅供参考，并不代表会员已经实现的投资本金和收益，实际兑付应当以受托机构对摇宝投资理财产品投资标的的相对应投资款项和收益兑付为条件。</p>
        <p>5、如摇宝投资理财产品总金额持续低于受托机构预期金额且依据受托机构合理判断持续该摇宝投资理财产品投资在商业上已经不再经济合理或因国家法律、政策变动或监管要求等原因，受托机构有权单方面解除摇宝投资理财产品投资关系，并依据会员投资理财产品投资实际价值退回会员摇宝投资理财产品投资资金，届时受托机构应至少提前3个工作日通知会员摇宝投资理财产品投资项目终止事宜。</p>
    </div>
</div>