<div class="static-common">
    <h3>摇宝产品投资规则说明</h3>
    <p class="text-ind">本规则由摇宝产品受托机构及资邦（上海）网络科技有限公司（以下简称“本公司”）依据《中华人民共和国合同法》、《中华人民共和国民法通则》等相关法律规定，共同制定，就摇旺会员（以下简称“您”）委托受托机构在摇旺理财向您提供的摇宝产品做服务说明。</p>
    <p class="text-ind">接受此协议，即意味着您同意本产品投资规则：您授权摇旺理财合作的第三方支付机构或银行将您账户内的资金自动投资于发行机构根据合作机构推荐所筛选的金融产品收益权（包括但不限于融资项目、债权转让项目、货币基金等）。</p>
    <p class="text-ind">为了维护您的自身权益，请在投资前仔细阅读各条款以及与摇宝产品（以下简称“本产品”）相关的全部规则，以充分知悉本产品的运作规则、投资范围以及各方的权利义务,若该规则与《摇宝定向委托投资协议》有冲突，以《摇宝定向委托投资协议》为准。</p>
    <p class="text-ind">您通过网络页面点击确认或以其他方式选择接受本规则，即表示您已同意接受本规则的全部约定内容以及摇旺所包含的其他与本项规则的条款和条件有关的各项规定。如果您不同意本规则的任意内容，或者无法准确理解本公司对条款的解释，请不要进行后续操作。</p>
    <h5>一、定义</h5>
    <p>除非本规则另有约定，以下用语在本协议中定义如下：</p>
    <p>1、摇宝产品：指受托机构根据委托人的要求对合作机构推荐的产品（包括但不限于融资项目、债权转让项目、货币基金、银行存款等）进行筛选，将委托人的投资资金给融资方、及/或受让优质债权、收益权、及/或申购货币基金的投资计划等。委托人因上述投资行为而持有的金融产品收益权及所投资金所产生的收益，在满足本协议相关规则的前提下，可进行部分或全部转出。</p>
    <p>2、受托机构：接受投资人的资金委托，将投资人的资金投向合作机构推荐的产品（包括但不限于融资项目、债权转让项目、货币基金、银行存款等）的资产管理公司。</p>
    <p>3、合作机构：指与受托机构建立合作关系的机构，包括但不限于保理公司、P2P公司、融资租赁公司、消费金融类公司、担保公司、资产管理公司、小额贷款公司、银行、券商、基金公司等。</p>
    <p>4、摇旺：指由本公司运营和管理的网站（域名：http://www.91yaowang.com/）及“摇旺APP”或微信客户端，负责摇宝产品的信息披露。</p>
    <p>5、摇旺账户：指您以其自身名义在摇旺注册后系统自动产生的虚拟账户。</p>
    <h5>二、风险提示</h5>
    <p class="text-ind">您理解并同意，本产品不同于银行储蓄存款，您既可享有投资所得收益，也可能承担投资带来的损失。您应当自行判断本产品与其自身的风险承受能力是否匹配，并仔细阅读《风险提示书》，自行决定是否加入本产品。</p>
    <h5>三、主要内容</h5>
    <p>1、投资范围：摇宝产品的受托机构的投资范围包括但不限于合作机构提供或推荐的融资项目、债权转让项目、资产管理项目、收益权类项目及货币基金、银行存款等。</p>
    <p>2、预期收益：您理解并同意，摇旺宣传页面及本服务说明页面显示的本产品的收益均为预期收益，预期收益由发行机构定义，由发行机构进行支付；本公司仅作信息披露服务，并不以任何方式对预期收益进行任何承诺与担保，您所投的资金存在无法全额收回的风险；且您仅能享有其所投资金所产生的实际收益。</p>
    <p>3、收益结算：本产品项下所投资金按日结算收益，全部投资资金按日复投。收益计算公式为：当日收益=计息份额/10000*当日万份收益；每日的收益以摇旺展示的每日实际结算为准；您投入资金后的第二个自然日可以通过摇旺账户查看收益。</p>
    <h5>四、资金划转</h5>
    <p class="text-ind">您点击“确认”按钮（具体以摇旺平台显示为准）确认加入本产品后，即视为向本公司发出不可撤销的授权，不可撤销的授权本公司委托第三方支付机构或合作银行，将当笔投资资金划转至上述发行机构指定的账户。</p>
    <h5>五、赎回</h5>
    <p>1、您可部分或全部转让您在本产品中的投资项目（以下统称：赎回），如需赎回，您应当发出赎回指令，并等待发行机构确认该赎回指令；您的赎回申请一旦发出便无法撤销。</p>
    <p>2、您一旦发出赎回申请即视为不可撤销的委托发行机构自行或委托第三方按照协议约定，将您所持有的摇宝投资项目中的标的物的收益权进行回购/收购。</p>
    <p>3、申请赎回的资金收益结算按日计算，您发出赎回申请指令的当天不计算收益。</p>
    <p>4、如当日全部投资者总申请提取资金大于摇宝资产价值的10%，即触发大额赎回，则发行机构可视受托投资标的物流动性情况，采取以下任一操作：</p>
    <p>（1）接受当日全部的提取申请；</p>
    <p>（2）受托机构可对您提取金额设置10万元上限，即您当日可以提取金额最高额不得超过10万元，超过部分的提取申请无效。如连续2天以上(含)发生巨额赎回，则受托机构有权视情况拒绝您当日提取的全部或部分申请并有权决定暂停该日之后特定期间的提取摇宝投资申请。发行机构有权视余额之具体情况决定重新开放接受投资者提取申请的日期。</p>
    <h5>六、服务费用</h5>
    <p class="text-ind">本产品将由发行机构向本公司支付居间服务费用，暂不向您收取费用。但是本公司保留向您收取服务费的权利，而不再作个别通知。</p>
    <h5>七、服务对象与要求</h5>
    <p>1、本服务仅向符合中华人民共和国年满18周岁、具有完全民事权利能力和民事行为能力且持有摇旺实名账户的大陆居民提供。您必须按照摇旺的注册要求提供本人真实、准确及完整的信息，并负责对本人信息及时更新。本公司视摇旺所有用户已就上述各项条件与要求作出承诺，保证本人身份的合法性，以及所提供信息的真实性、准确性、完整性和非过时性。</p>
    <p>2、若您提供任何不真实、不准确、不完整或过时的身份信息，或者本公司有合理理由怀疑您所提供的信息为不真实、不准确、不完整或过时的，本公司有权中止（或终止）向您提供服务，并取消您现在或未来使用本服务之各项服务之全部或部分功能，对此本公司不承担任何责任。同时，因此所产生的任何直接或间接的支出、损失、费用、处罚将由您来承担。若由于您未及时更新您信息，而导致本服务无法提供或本服务的有关流程及操作发生任何错误，您不得以此为由取消交易、拒绝支付交易款项和服务手续费或采取其它不当行为，并将独立承担因此产生的所有责任和后果。</p>
    <h5>八、修改及终止</h5>
    <p>1、您确认并同意，本公司有权根据国家相关法律法规和监管政策以及市场变化和本公司发展规划对相关规则进行调整，直至终止。</p>
    <p>2、修改或调整后内容，本公司将以电子形式通知您，包括但不限于：通过在摇旺平台发布公告、及/或通过您向本公司提供的手机号码发送手机短信、及/或通过摇旺系统对您的账户发送站内信等方式。</p>
    <p>3、本服务规则以不违反国家相关法律法规和监管政策为前提，若任意一条或多条被司法机关认定为违反了相关法律法规和监管政策的，则该条视为无效，但该条的无效并不影响其他条款的效力。</p>
    <h5>九、其他</h5>
    <p>1、因本规则引起的或与本规则有关的争议，均适用中华人民共和国法律。</p>
    <p>2、因本规则引起的或与本规则有关的争议，本公司可与您协商解决。协商不成的，任何一方均有权提起诉讼，并以浦东新区人民法院为第一审管辖法院。</p>
</div>